{% macro checkbox(props) %}
<div class="sm-card {{props.classList}}">
	<label class="sm-card__label">
		<input type="checkbox" {{props.attrs | safe}}>
		<span class="sm-card__content" data-animation="ripple">
			<i class="sm-card__icon icon icon-checked"></i>
			<span class="sm-card__title">{{props.title}}</span>
			{% if props.sticker %}
				<span class="sm-card__sticker">{{props.sticker}}</span>
			{% endif %}
		</span>
	</label>
</div>
{% endmacro %}

{% macro simple(props) %}
<div class="simple-card {{props.classList}}">
	<label class="simple-card__label">
		<input type="checkbox" {{props.attrs | safe}}>
		<span class="simple-card__content" data-animation="ripple">
			<span class="simple-card__title">{{props.title}}</span>
			{% if props.description %}
				<span class="simple-card__description">{{props.description}}</span>
			{% endif %}
		</span>
	</label>
</div>
{% endmacro %}

{% macro serial(props) %}
<div class="card-serial {{props.classList}}">
	<label class="card-serial__label">
		<input type="checkbox" {{props.attrs | safe}}>
		<span class="card-serial__content" data-animation="ripple">
			<span class="card-serial__title">{{props.title}}</span>
		</span>
	</label>
</div>
{% endmacro %}

{% macro payment(props) %}
{# <div class="payment-card" data-animation="ripple" {%- if props.color %} style="background-color: {{props.color}};" {%- endif %}>
	<div class="payment-card__icon">
		{% if props.icon %}
			<i class="icon icon-{{props.icon}}"></i>
		{% elif props.iconText %}
			<span class="payment-card__icon-text">{{props.iconText}}</span>
		{% endif %}
	</div>
	<div class="payment-card__title">{{props.title}}</div>
</div> #}
<div class="payment-card" data-animation="ripple">
	<div class="payment-card__title"><span>{{props.title}}</span></div>
	<div class="payment-card__icon">
		{% if props.icon %}
			<i class="icon icon-{{props.icon}}"></i>
		{% elif props.awesome %}
			<i class="fa fa-{{props.awesome}}"></i>
		{% elif props.iconText %}
			<span class="payment-card__icon-text">{{props.iconText}}</span>
		{% endif %}
	</div>
</div>
{% endmacro %}