{% macro smBox(props) %}
<div class="sm-box {{props.classList}}" data-animation="ripple" {% if props.background %}style="background-color: {{props.background}};"{% endif %} >
	<i class="icon icon-check sm-box__icon"></i>
	<div class="sm-box__title">{{props.title}}</div>
	<div class="sm-box__description">{{props.description}}</div>
</div>
{% endmacro %}

{% macro item(props) %}
<div class="item {{props.classList}}" 
	{% if props.background %}style="background-color: {{props.background}};"{% endif %} 
	{% if props.noRipple !== true %}data-animation="ripple"{% endif %} 
	{{props.attrs | safe}} >

	{% if props.image %}
		<div class="item__img" style="background-image: url(static/img/products/{{props.image}});"></div>
	{% endif %}

	{% if props.code %}
		<div class="item__code">{{props.code}}</div>
	{% endif %}

	<div class="item__title">{{props.title}}</div>

	{% if props.price %}
		<div class="item__price">{{props.price}}</div>
	{% endif %}
</div>
{% endmacro %}

