{% import '../_mixins.html' as mixins %}

{% macro default(props) %}
{% set keyboardMain = [
	{
		content: '1'
	},
	{
		content: '2'
	},
	{
		content: '3'
	},
	{
		content: '4'
	},
	{
		content: '5'
	},
	{
		content: '6'
	},
	{
		content: '7'
	},
	{
		content: '8'
	},
	{
		content: '9'
	},
	{
		attrs: 'data-numpad="numpad-clear"',
		content: '<i class="icon icon-text icon-clear"></i>'
	},
	{
		content: '0'
	},
	{
		content: '&ndash;'
	}
] %}
{% set keyboardSide = [
	{
		attrs: 'data-numpad="numpad-backspace"',
		content: '<i class="icon icon-text icon-backspace"></i>'
	},
	{
		attrs: 'value="numpad-submit"',
		content: 'OK',
		type: 'submit',
		classList: 'keyboard__submit',
		colspan: '3'
	}
] %}
<!-- begin keyboard -->
<div class="keyboard numpad {{props.keyboardClassList}}">
	{% if props.discount %}
		<div class="keyboard__discount {{props.size}}">
			{% for key in props.discount %}
			    <div class="keyboard__discount-item"><button type="button" data-animation="ripple" class="keyboard__discount-button">{{key.content | safe}}</button></div>
			{% endfor %}
		</div>
	{% endif %}
	<div class="keyboard__container {{props.size}}">
		<div class="keyboard__main">
			{% for key in props.keyboardMain or keyboardMain %}
				
				{# check if button has some special classNames #}
				{% if key.classList %}
					{% set classList = ' ' + key.classList %}
				{% else %}
				    {% set classList = '' %}
				{% endif %}

				<div class="keyboard__item">
					<button type="button" data-animation="ripple" class="keyboard__button{{classList}}" {{key.attrs | safe}}>{{key.content | safe}}</button>
				</div>
			{% endfor %}
		</div>
		<div class="keyboard__aside">
			{% for key in props.keyboardSide or keyboardSide %}
			    <div class="keyboard__col" {%- if key.colspan %} data-colspan="{{key.colspan | safe}}" {%- endif -%} >
			    	<button type="{{key.type or 'button'}}" data-animation="ripple" class="keyboard__button {{key.classList}}" {{key.attrs | safe}}>{{key.content | safe}}</button>
			    </div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end keyboard -->
{% endmacro %}

{% macro simple(props) %}
{% set keyboardMain = [
	{ 
		content: '1'
	},
	{ 
		content: '2'
	},
	{ 
		content: '3'
	},
	{ 
		content: '4'
	},
	{ 
		content: '5'
	},
	{ 
		content: '6'
	},
	{ 
		content: '7'
	},
	{ 
		content: '8'
	},
	{ 
		content: '9'
	},
	{ 
		attrs: 'data-numpad="numpad-clear"',
		content: '<i class="icon icon-text icon-clear"></i>'
	},
	{ 
		content: '0'
	},
	{ 
		attrs: 'data-numpad="numpad-backspace"',
		content: '<i class="icon icon-text icon-backspace"></i>'
	}
] %}
<!-- begin simple-keyboard -->
<div class="simple-keyboard numpad">
	<div class="simple-keyboard__container">
		<div class="simple-keyboard__body">
			{% for key in keyboardMain %}
				<div class="simple-keyboard__item"><button type="button" class="simple-keyboard__button" data-animation="ripple" {{key.attrs | safe}}>{{key.content | safe}}</button></div>
			{% endfor %}
		</div>
		<div class="simple-keyboard__actions">
			<div class="simple-keyboard__item">
				<button type="button" class="simple-keyboard__button simple-keyboard__action" data-animation="ripple" data-numpad="numpad-clockin">Clock In</button>
			</div>
			<div class="simple-keyboard__item">
				<button type="button" class="simple-keyboard__button simple-keyboard__action" data-animation="ripple" data-numpad="numpad-clockout">Clock Out</button>
			</div>
			<div class="simple-keyboard__item">
				<button type="submit" class="simple-keyboard__button simple-keyboard__submit" data-animation="ripple" value="numpad-submit">Login<i class="icon icon-next"></i></button>
			</div>
			<!-- Add the class 'simple-keyboard__item_lg' to 'simple-keyboard__item', this will make the width 100% -->
		</div>
	</div>
</div>
<!-- end simple-keyboard -->
{% endmacro %}

{% macro display(props) %}
<div class="fieldset fieldset_lg fieldset_bordered {%- if props.sharp != true %} fieldset_keyboard {%-endif%}">
	{{mixins.field(props.field)}}
	{% if props.dividerNone != true %}
		<div class="fieldset__divider"></div>
	{% endif %}
	{{default(props.keyboard)}}
</div>
{% endmacro %}

{% macro call(props) %}
<!-- begin keyboard -->
<div class="main-keyboard numpad {{props.classList}}">
	{# {% if props.display %}
		<div class="main-keyboard__display">
			<button class="main-keyboard__clear" data-numpad="numpad-clear"><i class="icon icon-clear"></i></button>
			{{mixins.field(props.display)}}
		</div>
	{% endif %} #}
	<div class="main-keyboard__container {{props.containerClassList}}">
		{# {% if props.discount %}
			<div class="main-keyboard__aside">
				{% for key in props.discount %}
					<div class="main-keyboard__aside-item"><button type="button" data-animation="ripple" class="main-keyboard__discount-button">{{key.content | safe}}</button></div>
				{% endfor %}
			</div>
		{% endif %} #}
		{% if props.shortcuts %}
		<div class="main-keyboard__shortcuts">
			{% for key in props.shortcuts %}
				<div class="main-keyboard__item"><button type="button" data-animation="ripple" class="main-keyboard__shortcuts-button">{{key.content | safe}}</button></div>
			{% endfor %}
		</div>
		{% endif %}

		{% set main = [ 
			{ content: '1' },
			{ content: '2' },
			{ content: '3' },
			{ content: '4' },
			{ content: '5' },
			{ content: '6' },
			{ content: '7' },
			{ content: '8' },
			{ content: '9' },
			{ content: '0' },
			{ content: '00' },
			{
				attrs: 'data-numpad="numpad-backspace"',
				content: '<i class="icon icon-backspace"></i>'
			}
		] %}
		<div class="main-keyboard__main">
			{% for key in props.main or main %}
				
				{# check if button has some special classNames #}
				{% if key.classList %}
					{% set classList = ' ' + key.classList %}
				{% else %}
				    {% set classList = '' %}
				{% endif %}

				<div class="main-keyboard__item">
					<button type="button" data-animation="ripple" class="main-keyboard__button {{classList}}" {{key.attrs | safe}}>{{key.content | safe}}</button>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end keyboard -->
{% endmacro %}