{% import '../_mixins.html' as mixins %}
{% macro call(props) %}
	{% set active = props.active or 0 %}
	{# 
		{ href: 'deactivate.html', icon: 'offline', text: 'Deactivate' },
	#}
	{% set nav = [
		{ href: 'pos.html', icon: 'pos', text: 'Point of Sale', disabled: true },
		{ href: 'orders.html', icon: 'orders', text: 'Orders', disabled: true },
		{ href: 'pos.html', icon: 'pos', text: 'Manual Refund', attrs: 'data-toggle-class-target="main-container" data-toggle-class-add="refund-mode"', disabled: true },
		{ href: 'register-open.html', icon: 'plus', text: 'Open Register', closed: true },
		{ href: 'register-close.html', icon: 'close', text: 'Close Register', opened: true },
		{ href: 'payin.html', icon: 'cc', text: 'Payins / Payouts', disabled: true },
		{ href: 'tips.html', icon: 'tips', text: 'Tips', disabled: true },
		{ href: 'loyalty.html', icon: 'loyalty', text: 'Loyalty', disabled: true },
		{ href: '#', icon: 'cog', text: 'Settings' },
		{ href: 'sync.html', icon: 'sync', text: 'Synchronize' },
		{ href: 'ui-kit.html', icon: 'bo', text: 'Back Office' },
		{ href: 'pos.html', icon: 'help', text: 'Help', disabled: true },
		{ href: 'index.html', icon: 'exit', text: 'Logout' }
	] %}
	<!-- begin menu -->
	<nav class="menu {{props.open}} {{props.classList}}" data-menu-container="menu">
		{% if props.open %}
			<header class="menu__header" data-animation="ripple">
				<i class="icon icon-back menu__icon"></i>
				<div class="title-xlg menu__title">Acme Inc.</div>
			</header>
		{% else %}
			<header class="menu__header" data-menu-close="menu" data-animation="ripple">
				<i class="icon icon-back menu__icon"></i>
				<div class="title-xlg menu__title">Acme Inc.</div>
			</header>
		{% endif %}
		<div class="menu__container">
			<div class="menu__account">Account ID: 123321</div>
			<ul class="nav">
				{% for item in props.nav or nav %}
					<li class="nav__item" {% if item.list %}data-nav-submenu="nav-settings"{% endif %}>
						{% if props.disabled %}
							{% if item.opened != true %}
								<a href="{{item.href}}" class="nav__link {% if loop.index0 === active %}is-active{% endif %} {% if item.disabled %}is-disabled{% endif %}" {{item.attrs | safe}}>
									<i class="nav__icon icon icon-{{item.icon}}"></i>{{item.text | safe}}
									{%- if item.list -%}<i class="nav__arrow icon icon-caret"></i>{%- endif -%}
								</a>
								{% if item.list %}
									<ul class="nav__submenu">
										{% for item in item.list %}
											<li class="nav__item"><a href="{{item.href}}" class="nav__link"><i class="nav__icon icon icon-{{item.icon}}"></i>{{item.text}}</a></li>
										{% endfor %}
									</ul>
								{% endif %}
							{% endif %}
						{% else %}
							{% if item.closed != true %}
								<a href="{{item.href}}" class="nav__link {% if loop.index0 === active %}is-active{%- endif -%}" {{item.attrs | safe}}>
									<i class="nav__icon icon icon-{{item.icon}}"></i>{{item.text | safe}}
									{%- if item.list -%}<i class="nav__arrow icon icon-caret"></i>{%- endif -%}
								</a>
								{% if item.list %}
									<ul class="nav__submenu">
										{% for item in item.list %}
											<li class="nav__item"><a href="{{item.href}}" class="nav__link"><i class="nav__icon icon icon-{{item.icon}}"></i>{{item.text}}</a></li>
										{% endfor %}
									</ul>
								{% endif %}
							{% endif %}
						{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</nav>
	<!-- end menu -->
	{% if props.open %}
		{{mixins.overlay({
			classList: props.open
		})}}
	{% else %}
		{{mixins.overlay({
			attrs: 'data-menu-overlay="menu"'
		})}}
	{% endif %}
{% endmacro %}