{% import '../_mixins.html' as mixins %}

{% macro help(props) %}
<!-- begin help -->
<div class="help" data-modal="help">
	<div class="help__container" data-modal-container="help">
		<button class="help-close help__close" data-animation="ripple" data-modal-close="help">
			<i class="fa fa-question-circle-o help-close__icon"></i>
			<i class="icon icon-next help-close__arrow"></i>
		</button>
		<div class="help__body" data-scrollbar="default">
			{% include 'modal/_help.html' %}
		</div>
	</div>
</div>
<!-- end help -->
{% endmacro %}

{% macro addTerminal(props) %}
<!-- begin add-terminal -->
<div class="modal add-terminal" data-modal="add-terminal">
	<div class="modal__container add-terminal__container" data-modal-container="add-terminal">
		<div class="add-terminal__header">
			<button class="btn-icon add-terminal__close" data-modal-close="add-terminal"><i class="icon icon-close"></i></button>
			<div class="add-terminal__title">Add New Terminal</div>
		</div>
		<div class="add-terminal__body">
			<div class="add-terminal__field is-error">
				{{mixins.field({
					label: 'Serial Number:',
					value: '0000123',
					id: 'terminal-serial-number',
					placeholder: '(required)',
					attrs: 'required',
					inputClassList: 'input_lg add-terminal__input'
				})}}
				<div class="error-message">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
			</div>
			<div class="add-terminal__field">
				{{mixins.field({
					label: 'Friendly Name:',
					id: 'terminal-name',
					placeholder: '(optional)',
					inputClassList: 'input_lg add-terminal__input'
				})}}
			</div>
		</div>
		<div class="add-terminal__footer">
			<button class="btn btn_success btn_lg btn_block" data-animation="ripple" data-modal-close="add-terminal">Submit</button>
		</div>
	</div>
</div>
<!-- end add-terminal -->
{% endmacro %}

{% macro paymentTerminal(props) %}
<!-- begin payment-terminal -->
<div class="modal payment-terminal" data-modal="payment-terminal">
	<div class="modal__container payment-terminal__container" data-modal-container="payment-terminal">
		<div class="payment-terminal__body">
			<div class="payment-terminal__vertical">
				<div class="payment-terminal__center">
					<div class="loading payment-terminal__icon"></div>
					<p>Please process Payment on your Terminal</p>
				</div>
			</div>
		</div>
		{# <div class="payment-terminal__footer">
			<button class="btn btn_error btn_lg btn_block" data-animation="ripple" data-modal-close="payment-terminal">Cancel</button>
		</div> #}
	</div>
</div>
<!-- end payment-terminal -->
{% endmacro %}

{% macro orderReceipt(props) %}
<!-- begin order-receipt -->
<div class="modal order-receipt" data-modal="{{props.name or 'order-receipt'}}">
	<div class="modal__container order-receipt__container" data-modal-container="{{props.name or 'order-receipt'}}">
		<div class="order-receipt__header">
			<button class="btn-icon order-receipt__close" data-modal-close="{{props.name or 'order-receipt'}}"><i class="icon icon-close"></i></button>
			<div class="order-receipt__title">{{props.title}}</div>
		</div>
		<div class="order-receipt__body">
			{% for item in props.fields %}
				{% if item.field %}
					<div class="order-receipt__field">
						{{mixins.field(item.options)}}
					</div>
				{% elif item.checkbox %}
					<div class="order-receipt__checkbox">
						{{mixins.checkbox(item.checkbox)}}
					</div>
				{% elif item.radio %}
					<div class="order-receipt__radio">
						<div class="field">
							<div class="field__inner">
								<div class="field__label">Receipt format</div>
								<div class="field__row field__box">
									<div class="field__col field__col_50">
										{{mixins.radio({
											name: item.radio.name,
											content: 'POS'
										})}}
									</div>
									<div class="field__col field__col_50">
										{{mixins.radio({
											name: item.radio.name,
											attrs: 'checked',
											content: 'A4'
										})}}
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="order-receipt__footer">
			<button class="btn btn_success btn_lg btn_block" data-animation="ripple">{{props.submit or 'Send'}}</button>
		</div>
	</div>
</div>
<!-- end order-receipt -->
{% endmacro %}

{% macro confirm(props) %}
<!-- begin confirm -->
<div class="modal confirm" data-modal="{{props.name}}">
	<div class="modal__container confirm__container" data-modal-container="{{props.name}}">
		<div class="confirm__header">
			<div class="confirm__title">{{props.title | safe}}</div>
		</div>
		<div class="confirm__body">
			{{props.content | safe}}
		</div>
		<div class="confirm__footer">
			<div class="confirm__row {{props.rowClassList}}">
				{% for item in props.buttons %}
					<div class="confirm__col confirm__col_{{props.colSize}}">{{item | safe}}</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- end confirm -->
{% endmacro %}

{% macro modalSM(props) %}
<!-- begin modalSM -->
<div class="modal modal_sm {{props.classList}}" data-modal="{{props.name}}">
	<div class="modal__container" data-modal-container="{{props.name}}">
		<div class="modal__header">
			<div class="modal__title">{{props.title | safe}}</div>
		</div>
		<div class="modal__body">
			{{props.content | safe}}
		</div>
		<div class="modal__footer {{props.footerClassList}}">
			<button class="btn btn_blue text-uppercase">{{props.btn or 'OK'}}</button>
		</div>
	</div>
</div>
<!-- end modalSM -->
{% endmacro %}