<aside class="sidebar sidebar_left is-poynt-hidden">
	{{header.simple({
		toolbar: true,
		back: true,
		backButtonAlone: true,
		headerClassList: 'sidebar__header',
		toolbarStatic: true,
		toolbarStaticValues: {
			type: 'Quick Sale',
			customer: 'Walk In'
		}
	})}}
	<div class="sidebar__body">
		<div class="sidebar__content">
			{% set orderList = [
				{
					title: 'Hot Dog XL',
					meta: '<strong>Note</strong> Click to duplicate in cart',
					quantity: '1',
					price: '3.00',
					total: '3.00',
					state: 'default'
				},
				{
					title: 'T-Shirt with Print 23',
					meta: 'Long Sleeves, XL size, Black color',
					quantity: '2',
					price: '100.00',
					total: '200.00',
					discount: '-5.10',
					state: 'default'
				}
			] %}
			<ul class="order-list">
				{% for item in orderList %}
					<li class="order-item">
						<div class="order-item__container">
							<div class="order-item__content">
								<div class="order-item__info">
									<div class="order-item__title">{{item.title | safe}}</div>
								</div>
								<div class="order-item__row">
									<div class="order-item__col">
										<div class="order-item__quantity">{{item.quantity | safe}}&times;</div>
										<div class="order-item__price">{{item.price | safe}}</div>
									</div>
									<div class="order-item__col">
										<div class="order-item__total">{{item.total | safe}}</div>
										{% if item.discount %}
											<div class="order-item__discount">{{item.discount | safe}}</div>
										{% endif %}
									</div>
								</div>
								<div class="order-item__meta">{{item.meta | safe}}</div>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="sidebar__footer">
		<div class="totals sidebar__totals">
			{% set totalsListMain = [
				{
					label: 'Sub',
					value: '12345.00'
				},
				{
					label: 'Discount',
					value: '123.00'
				}
			] %}
			{% set totalsListScroll = [
				{
					label: 'Lorem ipsum.',
					value: '1234.00'
				},
				{
					label: 'Lorem ipsum.',
					value: '123456.00'
				},
				{
					label: 'Lorem ipsum.',
					value: '1234567.00'
				},
				{
					label: 'Lorem ipsum.',
					value: '123.00'
				},
				{
					label: 'Lorem ipsum.',
					value: '123456789.00'
				}
			] %}
			<div class="totals__container">
				<ul class="totals-list totals-list_main">
					{% for item in totalsListMain %}
						<li class="totals-list__item">
							{# <div class="totals-list__row"> #}
								<div class="totals-list__label">{{item.label}}</div>
								<div class="totals-list__value">${{item.value}}</div>
							{# </div> #}
						</li>
					{% endfor %}
				</ul>
				<ul class="totals-list totals-list_scroll">
					{% for item in totalsListScroll %}
						<li class="totals-list__item">
							{# <a href="#" class="totals-list__row"> #}
								<div class="totals-list__label">{{item.label}}</div>
								<div class="totals-list__value">${{item.value}}</div>
							{# </a> #}
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</aside>