{% import '../_mixins.html' as mixins %}

<!-- begin search -->
<div class="search" data-modal="search">
	<div class="search__field" data-modal="container">
		<input type="text" class="search__input" placeholder="Search by item: name, UPC">
		<div class="search__controls">
			<span class="search__button"><i class="icon icon-search"></i></span>
		</div>
	</div>
	<div class="search-dropdown">
		<i class="search-dropdown__arrow"></i>
		<div class="search-dropdown__container">
			<div class="search-dropdown__body">
				<ul class="search-dropdown__list">
					{% for item in range(0, 12) %}
						<li class="search-dropdown__item">
							<div class="search-dropdown__price">
								<span class="search-dropdown__currency">$</span>
								<span class="search-dropdown__value">99.99</span>
							</div>
							<div class="search-dropdown__text">Lorem ipsum dolor.</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<button class="btn btn_block" data-animation="ripple"><i class="icon icon-expand"></i>Show more</button>
		</div>
	</div>
</div>
<!-- end search -->