{# <aside class="settings__sidebar">
	<div class="settings__nav">
	</div>
</aside> #}
<div class="menu is-open submenu">
	<header class="menu__header" data-menu-close="menu" data-animation="ripple">
		<i class="icon icon-back menu__icon" id="fat-close-main-menu"></i>
		<div class="title-xlg menu__title submenu">Settings</div>
	</header>
	<div class="menu__container">
		<div class="menu__account">Account ID: 0</div>
		{% set settingsNav = [
			{
				text: 'Printer Setup',
				icon: 'print'
			},
			{
				text: 'Cash Drawer',
				icon: 'cash'
			},
			{
				text: 'Terminal Setup',
				icon: 'cc'
			},
			{
				text: 'Deactivate',
				icon: 'exit'
			},
			{
				text: 'Certificates',
				icon: 'seal'
			}
		] %}
		<ul class="nav">
			{% for item in customSettingsNav or settingsNav %}
				<li class="nav__item {%- if loop.index0 == settingsActive %} is-active {% endif %}">
					<a href="#" class="nav__link"><i class="nav__icon icon icon-{{item.icon}}"></i>{{item.text}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>