html,
body
	height: 100%
	overflow: hidden
body
	min-height: 570px
	color: $darkGray
	background: $alabaster
	+rlight
	font-size: 14px
	line-height: 1.2

*::-webkit-scrollbar
	display: none !important


.body-darkgray
	background: $lightGray

hr
	margin: 0
	background: rgba($black, 0.1)
	color: rgba($black, 0.1)
	border: none
	height: 2px
	width: 100%
	clear: both

.overlay
	position: fixed
	z-index: 100
	top: 0
	right: 0
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	opacity: 0
	visibility: hidden
	background: $black
	cursor: default
	transition: opacity 0.2s ease-out, visibility 0.2s ease-out
	&[data-color="dark-gray"]
		background: #434c55
	&.is-open
		opacity: 0.8
		visibility: visible

.form-wrapper
	padding: 36px 0 20px
	margin: 0 auto
	max-width: 460px


.loading-page
	&__icon
		margin: 80px 0 60px

.box
	margin: 0 auto
	width: 100%
	max-width: 450px
	+clr
	&__footnote
		margin-top: 30px
	&__header
		margin-bottom: 20px

.page-activate 
	.intro
		margin-top: 50px
		margin-bottom: 28px

.footnote
	color: $silverGray
	+rbold
	font-size: 14px
	text-align: center
	&_lg
		font-size: 16px
	a
		color: $blue
		+hover
			text-decoration: underline
		+active
			color: $blueActive

.loader
	position: absolute
	z-index: 3000
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba($white, 0.9)
	+vertical
	&_fullscreen
		position: fixed
	.loader__icon
		display: inline-block
		vertical-align: middle
	&__center
		display: inline-block
		vertical-align: middle
		width: 100%
		.loader__icon
			vertical-align: top
	&__text
		margin: 0 auto
		max-width: 400px
		color: $darkGray 
		font-size: 16px


.wrapper-btn-center
	margin: 0 auto
	max-width: 300px

.wrapper-common
	padding: 0 20px 10px

.step-body
	position: relative
	padding-bottom: 100px
	&__section
		overflow: auto
		padding: 20px 0 0
		max-height: 100%
	&__footer
		position: absolute
		left: 0
		right: 0
		bottom: 0

.explanation
	&__icon
		float: left
	&__text
		overflow: hidden
		padding: 10px 0
		p
			margin: 0
	&__error
		clear: both

.signature-box
	position: relative
	margin-bottom: 20px
	border-top: 1px solid $lightGrayActive
	border-bottom: 1px solid $lightGrayActive
	min-height: 250px
	+css-lockH(230, 300, $hxs, $hsm, min-height)
	+poynt
		min-height: 450px
	&__close 
		position: absolute
		top: 10px
		right: 10px

.vertical-center
	+vertical
	&__content
		display: inline-block
		vertical-align: middle
		width: 100%
		text-align: left

//global state
.is-hidden
	display: none 
.is-dropdown-upper
	z-index: 100 !important

//animations
[data-animation*="ripple"]
	position: relative
	overflow: hidden
	.ripple-circle
		position: absolute
		z-index: 20
		top: 50%
		left: 50%
		border-radius: 50%
		width: 112px
		height: 112px
		background: rgba($black, 0.1)
		// transform: translate3d(-50%,-50%,0) scale(0)
		// animation: ripple 2.4s cubic-bezier(0.23, 1, 0.32, 1) forwards
		animation: ripple 0.5s linear forwards
		// animation: ripple 1s ease-in-out forwards
		pointer-events: none

@keyframes ripple
	0%
		opacity: 1
		// transform: translate3d(-50%,-50%,0) scale(0)
		transform: scale(0)
	100%
		opacity: 0
		// transform: translate3d(-50%,-50%,0) scale(2)
		transform: scale(2)