.ui-title
	+rbold
	font-size: 28px
	padding: 10px

.ui-container
	padding: 10px 5px
	font-size: 0
	&:not(:first-child)
		border-top: 5px solid $darkGray

.ui-label
	padding-bottom: 5px
	font-size: 14px

.ui-col
	display: inline-block
	vertical-align: bottom
	padding: 10px
	border-bottom: 1px solid $lightGray
	width: 100%
	&_md
		width: 50%
