@import helpers/_colors
@import helpers/_helpers
@import helpers/_mixins


.main-header
	&__sidebar,
	&__container,
	&__fullinfo
		background: #2e2e2e
	&__menu
		color: $white
		background: #EF902D
		+active
			color: $white
			background: #ed8315

.header 
	border-bottom: 7px solid #EF902D
	background: #2e2e2e
	.header__logos
		bottom: -7px
		background: rgba($white, 0.3)
		img
			max-height: 100%

.toolbar
	&__col:not(:last-child)
		border-right-color: rgba($white, 0.4) !important
	&__button
		color: $white
		background: #EF902D
		+active
			color: $white
			background: #ed8315

.btn.fieldset_last
	color: $white
	background: #EF902D
	+active
		color: $white
		background: #ed8315

.menu
	&__header
		color: $white
		background: #EF902D
		+active
			color: $white
			background: #ed8315