---
title: 'Beacon Setup &bull; eHopper POS'
styles: 
	- 'pos'
settingsActive: 3
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner settings">
			{{header.call({
				sidebarClassList: 'is-hidden',
				fullinfoClassList: 'is-hidden',
				menuBtnClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchClassList: 'is-hidden',
				syncBtnClassList: 'is-hidden',
				scanBtnClassList: 'is-hidden',
				containerClassList: 'main-header__container_full',
				title: 'Beacon Setup',
				searchFor: 'Search for beacons'
			})}}

			{% set customSettingsNav = [
				{
					text: 'Printer Setup',
					icon: 'print'
				},
				{
					text: 'Cash Drawer',
					icon: 'cash'
				},
				{
					text: 'Terminal Setup',
					icon: 'cc'
				},
				{
					text: 'Beacon Setup',
					icon: 'none'
				},
				{
					text: 'Deactivate',
					icon: 'exit'
				},
				{
					text: 'Certificates',
					icon: 'seal'
				}
			] %}
			
			{% include 'partials/components/_settings-sidebar.html' %}
			<div class="settings__container step-body">
				<div class="settings__beacon settings__beacon_group">
					<div class="settings__beacon-title">
						<h2 class="title-xlg">Geo-fencing Mode: Mobile devices: APPs mode</h2>
					</div>
					<div class="beacon-group">
						{% for item in [
							{
								title: 'Add new beacons',
								file: 'partials/beacon-setup/_add-new.html'
							},
							{
								title: 'Connected',
								file: 'partials/beacon-setup/_connected.html'
							},
							{
								title: 'Disconnected',
								file: 'partials/beacon-setup/_disconnected.html'
							}
						] %}
							<h3 class="title-lg">{{item.title}}</h3>
							{% include item.file %}
						{% endfor %}
					</div>
				</div>
				<div class="step-body__footer section">
					<div class="beacon-footer"> 
						<button class="btn btn_lg btn_blue text-uppercase" data-animation="ripple" value="Done">Done</button> 
						{# <button class="btn btn_lg btn_red text-uppercase" data-animation="ripple" value="Done">Cancel</button> #}
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
	{{modal.addTerminal()}}
{% endblock %}