---
title: 'Cash Method &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner">
			{{header.call({
				sidebarClassList: 'is-hidden',
				fullinfoClassList: 'is-hidden',
				menuBtnClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchClassList: 'is-hidden',
				syncBtnClassList: 'is-hidden',
				searchBtnClassList: 'is-hidden',
				syncClassList: 'is-hidden',
				scanBtnClassList: 'is-hidden',
				containerClassList: 'main-header__container_full',
				title: 'Cash Payment'
			})}}
			{% include 'partials/components/_payments-sidebar.html' %}
			<div class="container container_right container_payments">
				<div class="container__body step-body">
					<div class="step-body__section">
						<div class="form form_sm" id="payment-cash-tips-1">
							<div class="form__section">
								{{mixins.infoPrice({
									label: 'Amount Due:',
									price: '47.30',
									currency: '$',
									classList: 'text-center'
								})}}
							</div>
							{{mixins.fieldBox({
								radios: true,
								label: 'Tips',
								colSize: 'md',
								list: [
									{
										classList: 'fake-radio_block fake-radio_lg',
										content: 'On Screen',
										attrs: 'checked',
										name: 'tips-and-signature'
									},
									{
										classList: 'fake-radio_block fake-radio_lg',
										content: 'On Receipt',
										name: 'tips-and-signature'
									}
								]
							})}}
						</div>
					</div>
					<div class="step-body__footer section">
						<div class="form form_sm"> 
							<button class="btn btn_primary btn_lg btn_block text-uppercase" data-animation="ripple" value="Done">Process</button> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
	{{modal.paymentTerminal()}}
{% endblock %}