---
title: 'Cash Drawer Setup &bull; eHopper POS'
styles: 
	- 'pos'
settingsActive: 1
bodyLg: 'lg'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner settings">
			{{header.call({
				sidebarClassList: 'is-hidden',
				fullinfoClassList: 'is-hidden',
				menuBtnClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchClassList: 'is-hidden',
				syncBtnClassList: 'is-hidden',
				scanBtnClassList: 'is-hidden',
				containerClassList: 'main-header__container_full',
				title: 'Cash Drawer',
				searchFor: 'Search for cash drawer'
			})}}
			{% include 'partials/components/_settings-sidebar.html' %}
			<div class="settings__container step-body">
				<div class="settings__body settings__body_default step-body__section">
					<div class="form form_sm">
						<div class="simple-field">
							<div class="title-xlg simple-field__title">No Cash Drawer set.</div>
						</div>
						<div class="simple-field">
							<div class="simple-field__error">Could not retrieve results from Device Center. Please check if it is available.</div>
						</div>
						<div class="simple-field">
							<label for="drawer-device-center-address" class="simple-field__label">Device Center Address</label>
							<div class="input-box simple-field__input">
								<input type="text" class="simple-input" placeholder="Device Center Address" value="https://localhost:8080/DeviceCenterRest/" id="drawer-device-center-address">
								<button class="btn-icon btn-icon_gray input-box__clear"><i class="icon icon-close"></i></button>
							</div>
						</div>
						<div class="simple-field">
							<label for="drawer-security-key" class="simple-field__label">Security Key</label>
							<div class="input-box simple-field__input">
								<input type="text" class="simple-input" placeholder="Security Key" value="0000" id="drawer-security-key">
								<button class="btn-icon btn-icon_gray input-box__clear"><i class="icon icon-close"></i></button>
							</div>
						</div>
						<div class="simple-field cash-drawer">
							<div class="cash-drawer__title">Cash Drawers</div>
							<div class="cash-drawer__list">
								{% for row in range(0,3) %}
									<div class="cash-drawer__row">
										<div class="cash-drawer__radio">
											{{mixins.radio({
												attrs: 'id="cash-drawer-radio' + loop.index0 + '"',
												name: "cash-drawer"
											})}}
											<label for="cash-drawer-radio{{loop.index0}}">M-S Cash drawer via serial/parallel Star Epson Printer</label>
										</div>
										<div class="cash-drawer__center">
											<label for="cash-drawer-radio{{loop.index0}}">Device Center</label>
										</div>
										<div class="cash-drawer__test">
											<a href="#">Test</a>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="step-body__footer section">
					<div class="wrapper-btn-center">
						<button class="btn btn_lg btn_block btn_primary text-uppercase" data-animation="ripple" value="Done">Done</button>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
{% endblock %}