---
title: 'eHopper POS'
styles: 
	- 'pos'
scripts:
	- 'demo'
bodyClasses: 'animated'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{#
		poynt adaptive:
		======================
		loading +
		activate +
		sync +
		pin +
		pos +
		register-open +
		register-close +
		settings +
		cash-drawer +
		printer-setup +
		payments +
		payment-credit +
		payment-ebt +
		payment-debit +
		payment-external +
		payment-split +
		payment-cash +
		payment-receip +
		orders +
		order -
		order-taxes +
		order-save +
		order-note +
		tips + 
		terminal-card +
		terminal-cash +
		payin +
		loyalty +
		help +
		signup +
		create-customer +
		refund +
	#}
	{% set pages = [
		'loading',
		'activate',
		'sync',
		'pin',
		'pos',
		'register-open',
		'register-close',
		'settings',
		'cash-drawer',
		'printer-setup',
		'payments',
		'payment-credit',
		'payment-ebt',
		'payment-debit',
		'payment-external',
		'payment-split',
		'payment-cash',
		'payment-receipt',
		'orders',
		'order',
		'order-taxes',
		'order-save',
		'order-note',
		'tips',
		'terminal-card',
		'terminal-cash',
		'payin',
		'loyalty',
		'help',
		'signup',
		'create-customer',
		'refund'
	] %}
	<ul style="padding: 30px; font-size: 16px; max-height: 100%; overflow: auto;">
		<li style="padding-bottom: 30px; font-size: 24px; "><a href="ui-components.html" target="_blank" style="padding: 10px; display: inline-block;">ui-components</a></li>
		{% for page in pages %}
		    <li><a href="{{page}}.html" target="_blank" style="padding: 10px; display: inline-block;">{{page}}</a></li>
		{% endfor %}
	</ul>
{% endblock %}