---
title: 'eHopper POS'
styles: 
	- 'pos'
scripts:
	- 'demo'
bodyClasses: 'animated'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{% set pages = [
		'loading',
		'activate',
		'activate-poynt',
		'deactivate',
		'terms-and-conditions',
		'sync',
		'pin',
		'pos',
		'pos-change-tax-v2.0',
		'pos-connection-error',
		'pos-serial-menualrefund',
		'pos-serial-menualrefund-editing-error',
		'pos-serial-menualrefund-error1',
		'pos-serial-menualrefund-error2',
		'pos-loyalty',
		'pos-price-pin',
		'pos-register-closed',
		'pos-empty',
		'register-open',
		'register-close',
		'settings',
		'cash-drawer',
		'printer-setup',
		'payments',
		'payment-credit',
		'payment-ebt',
		'payment-debit',
		'payment-external',
		'payment-split',
		'payment-cash',
		'payment-cash-refund',
		'payment-cash-tips',
		'payment-receipt',
		'payment-receipt-refund',
		'orders',
		'orders-loading',
		'order',
		'order-taxes',
		'order-save',
		'order-note',
		'order-discount',
		'signature',
		'tips',
		'terminal-card',
		'terminal-cash',
		'payin',
		'loyalty',
		'help',
		'signup',
		'create-customer',
		'customer-details',
		'refund',
		'create-customer-alt',
		'install-certificate',
		'certificates',
		'certificate-selection',
		'activate-wireless',
		'login-wireless',
		'terms-and-conditions-wireless',
		'payment-receipt-wireless',
		'order-wireless',
		'activate-elevate',
		'pos-elevate',
		'terms-and-conditions-elevate',
		'create-customer-alt-v2',
		'pos-convenience-fee',
		'pos-service-fee',
		'pos-service-fee-noproducts',
		'order-fee',
		'payment-cash-convenience-fee',
		'payment-credit-convenience-fee',
		'payment-cash-iframe',
		'payment-split-iframe',
		'order-iframe',
		'pos-iframe',
		'payment-receipt-refund-iframe',
		'payment-receipt-print-kitchen',
		'order-partially-paid',
		'order-partially-refunded',
		'payment-credit-surcharge',
		'pos-surcharge',
		'pos-surcharge-gray',
		'payment-cash-surcharge',
		'payment-credit-surcharge',
		'payment-cash-service-fee',
		'payment-credit-service-fee',
		'orders-status-text',
		'orders-status-icon-and-text',
		'orders-status-select-with-icons',
		'exchange-pos',
		'exchange-pos-positive',
		'exchange-order',
		'exchange-order-partially-refund',
		'exchange-order-paid',
		'exchange-orders',
		'cash-payment-tips-1',
		'cash-payment-tips-2',
		'cash-payment-tips-3',
		'beacon-setup',
		'beacon-setup-group',

		'sum-pos',
		'sum-orders',
		'sum-order',
		'sum-tips',
		'sum-payin',
		'sum-register-close',
		'sum-register-open',
		'sum-payment-cash',
		'sum-payment-receipt',
		'sum-payment-split',
		'sum-payment-external',
		'sum-payment-debit'
	] %}
	<ul style="padding: 30px; font-size: 16px; max-height: 100%; overflow: auto;">
		{# <li style="padding-bottom: 30px; font-size: 24px; "><a href="ui-components.html" target="_blank" style="padding: 10px; display: inline-block;">ui-components</a></li> #}
		<li style="padding-bottom: 30px; font-size: 24px; "><a href="ui-guide.html" target="_blank" style="padding: 10px; display: inline-block;">ui-guide</a></li>
		{% for page in pages %}
			<li>{% if loop.index < 10 %}0{% endif %}{{loop.index}}. <a href="{{page}}.html" target="_blank" style="padding: 10px; display: inline-block;">{{page}}</a></li>
		{% endfor %}
	</ul>
{% endblock %}