---
title: 'Loyalty &bull; eHopper POS'
styles: 
	- 'pos'
scripts:
	- 'demo'
bodyClasses: 'animated'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		{{header.call({
			sidebarClassList: 'is-hidden',
			fullinfoClassList: 'is-hidden',
			menuBtnClassList: 'is-hidden',
			helpBtnClassList: 'is-hidden',
			searchClassList: 'is-hidden',
			syncBtnClassList: 'is-hidden',
			searchBtnClassList: 'is-hidden',
			syncClassList: 'is-hidden',
			scanBtnClassList: 'is-hidden',
			containerClassList: 'main-header__container_full',
			title: 'LOYALTY PROGRAM'
		})}}
		<div class="container container_simple">
			<div class="container__body step-body vertical-center">
				<div class="section section_inner step-body__section vertical-center__content">
					<div class="form form_sm">
						<div class="form__section">
							<div class="fieldset fieldset_bordered">
								<div class="main-display">
									<button class="main-display__clear" data-numpad="numpad-clear"><i class="icon icon-clear"></i></button>
									{{mixins.field({
										label: 'Mobile Phone',
										id: 'item-quantity',
										value: '555-123-4567',
										placeholder: '000-000-0000',
										attrs: 'required readonly',
										inputClassList: 'text-right input_xl'
									})}}
								</div>
								{{keyboard.call({
									main: [
										{ content: '1' },
										{ content: '2' },
										{ content: '3' },
										{ content: '4' },
										{ content: '5' },
										{ content: '6' },
										{ content: '7' },
										{ content: '8' },
										{ content: '9' },
										{ content: '&ndash;' },
										{ content: '0' },
										{
											attrs: 'data-numpad="numpad-backspace"',
											content: '<i class="icon icon-backspace"></i>'
										}
									]
								})}}
							</div>
						</div>
						<p class="fieldset fieldset_standalone">
							{{mixins.checkbox({
								classList: 'checkbox_green',
								attrs: 'required',
								content: 'I agree with'
							})}}
							<a href="#" class="form__link">Terms and Conditions</a>
						</p>
					</div>
				</div>
				<div class="step-body__footer section">
					<div class="form form_sm"> 
						<button class="btn btn_lg btn_block btn_primary text-uppercase" data-animation="ripple" value="Done">Process</button>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}	