---
title: 'Order Taxes &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main" data-toggle-class-container="main-container">
		<div class="inner">
			{{header.call({
				sidebarClassList: 'is-hidden',
				fullinfoClassList: 'is-hidden',
				menuBtnClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchClassList: 'is-hidden',
				syncBtnClassList: 'is-hidden',
				searchBtnClassList: 'is-hidden',
				syncClassList: 'is-hidden',
				scanBtnClassList: 'is-hidden',
				containerClassList: 'main-header__container_full',
				title: 'Order Taxes'
			})}}
			{% include 'partials/components/_order-sidebar.html' %}
			<div class="container container_right container_order">
				<div class="container__body step-body">
					<div class="step-body__section">
						<div class="form form_sm">
							<br>
							<div class="switcher-box text-right">
								<label for="exclude-all-taxes" class="switcher-box__label">Exclude All Taxes</label>
								{{mixins.switcher({ id: 'exclude-all-taxes' })}}
							</div>
							<div class="switcher-box text-right">
								<label for="include-in-price" class="switcher-box__label">Include In Price</label>
								{{mixins.switcher({ id: 'include-in-price' })}}
							</div>
							<div class="form-box">
								<div class="form-box__field">
									<label for="federal-tax" class="form-box__label">Federal Tax (5%)</label>
									{{mixins.switcher({ id: 'federal-tax', classList: 'form-box__switcher' })}}
								</div>
								<div class="form-box__field">
									<label for="state-tax" class="form-box__label">State Tax (10%)</label>
									{{mixins.switcher({ id: 'state-tax', classList: 'form-box__switcher' })}}
								</div>
							</div>
						</div>
					</div>
					<div class="step-body__footer section">
						<div class="wrapper-btn-center">
							<button class="btn btn_primary btn_lg btn_block text-uppercase" data-animation="ripple" value="Done">Done</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
{% endblock %}