---
title: 'Credit Card &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner">
			{{header.call({
				sidebarClassList: 'is-hidden',
				fullinfoClassList: 'is-hidden',
				menuBtnClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchClassList: 'is-hidden',
				syncBtnClassList: 'is-hidden',
				searchBtnClassList: 'is-hidden',
				syncClassList: 'is-hidden',
				scanBtnClassList: 'is-hidden',
				containerClassList: 'main-header__container_full',
				title: 'Credit Card Payment'
			})}}
			{% set totalsListScrollCustom = [
				{
					label: 'Surcharge',
					value: '2.09',
					classList: 'js-signature-surcharge'
				},
				{
					label: 'TAX',
					value: '4.30'
				},
				{
					label: 'Total',
					value: '49.39',
					classList: 'js-signature-total'
				}
			] %}	
			{% include 'partials/components/_payments-sidebar-fee.html' %}
			<div class="container container_right container_payments">
				<div class="container__body step-body">
					<div class="step-body__section"> 
						<div class="form form_sm">
							<div class="form__section">
								{{mixins.infoPrice({
									label: 'Total Due:',
									price: '49.39',
									currency: '$',
									classList: 'text-center js-signature-due'
								})}}
							</div>
							<div class="form__section">
								{{mixins.fieldBox({
									switcher: true,
									label: 'Enter Card Manually',
									id: 'enter-card-manually',
									switcherAttrs: ''
								})}}
								<div class="payment-fieldset is-hidden">
									<div class="fieldset fieldset_lg fieldset_bordered">
										<div class="fieldset__container">
											<div class="fieldset__row">
												<div class="fieldset__col fieldset__col_lg is-active">
													<input type="text" class="input input_lg fieldset__input" placeholder="Card Number" readonly>
												</div>
												<div class="fieldset__col fieldset__col_sm">
													<input type="text" class="input input_lg fieldset__input" placeholder="Expiration" readonly>
												</div>
											</div>
										</div>
										{{keyboard.call({
											card: [
												{ placeholder: 'Card Number', classList: 'is-active' },
												{ placeholder: 'Expiration' }
											],
											classList: 'fieldset__keyboard'
										})}}
									</div>
								</div>
							</div>
							<div class="form__section">
								{{mixins.fieldBox({
									radios: true,
									colSize: 'md',
									list: [
										{
											classList: 'fake-radio_block fake-radio_lg',
											content: 'Credit Card',
											attrs: 'onchange="signatureVariant(event)" data-value="false"',
											name: 'tips-and-signature-variants'
										},
										{
											classList: 'fake-radio_block fake-radio_lg',
											content: 'Signature Debit',
											attrs: 'onchange="signatureVariant(event)" data-value="true"',
											name: 'tips-and-signature-variants'
										}
									]
								})}}
								<script>
									var due = document.querySelector('.js-signature-due div:nth-child(2)');
									var dueValue = due.querySelector('span').textContent;
									dueValue = +(dueValue.replace('$', ''));


									var surcharge = document.querySelector('.js-signature-surcharge');
									var surchargeValue = surcharge.querySelector('div:nth-child(2)').textContent;
									surchargeValue = +(surchargeValue.replace('$', ''));

									var total = document.querySelector('.js-signature-total div:nth-child(2)');

									function signatureVariant(e) {
										var submit = document.querySelector('.js-signature-submit');
										var state = JSON.parse(e.currentTarget.getAttribute('data-value'));
										var value = null;

										if (state) {
											value = dueValue - surchargeValue;
										} else {
											value = dueValue + surchargeValue;
											value = value > dueValue ? dueValue : value;
										}

										value = value.toFixed(2);

										submit.disabled = false;
										surcharge.hidden = state;
										due.innerHTML = '<span><small>$</small>' + value + '</span>';
										total.innerHTML = '$' + value;
									}
								</script>
							</div>
							<div class="form__section">
								{{mixins.fieldBox({
									radios: true,
									label: 'Tips and Signature',
									colSize: 'sm',
									list: [
										{
											classList: 'fake-radio_block fake-radio_lg',
											content: 'On Screen',
											name: 'tips-and-signature'
										},
										{
											classList: 'fake-radio_block fake-radio_lg',
											content: 'On Receipt',
											attrs: 'checked',
											name: 'tips-and-signature'
										},
										{
											classList: 'fake-radio_block fake-radio_lg',
											content: 'On Terminal',
											name: 'tips-and-signature'
										}
									]
								})}}
							</div>
						</div>
					</div>
					<div class="step-body__footer section">
						<div class="form form_sm">
							<button class="btn btn_primary btn_lg btn_block text-uppercase js-signature-submit" data-animation="ripple" value="Done" disabled>Process</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
	{{modal.paymentTerminal()}}
{% endblock %}