---
title: 'External Payment &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner">
			{% include 'partials/components/_payments-sidebar.html' %}
			<div class="container container_right container_payments">
				{{header.simple({
					headerClassList: 'container__header header_payments',
					back: true,
					title: 'External Payment',
					titleClassList: 'header__title_vertical',
					help: true
				})}}
				<div class="container__body step-body">
					<div class="step-body__section">
						<div class="form form_sm">
							<div class="form__section">
								{{mixins.infoPrice({
									label: 'Amount Due:',
									price: '102.00',
									currency: '$',
									classList: 'text-center'
								})}}
							</div>
							<div class="form__section">
								<div class="payment-fieldset">
									<div class="fieldset fieldset_lg fieldset_bordered">
										<div class="fieldset__container">
											<div class="fieldset__row">
												<div class="fieldset__col fieldset__col_md is-active">
													<input type="text" class="input input_lg fieldset__input" placeholder="Card Number" readonly>
												</div>
												<div class="fieldset__col fieldset__col_md">
													<input type="text" class="input input_lg fieldset__input" placeholder="Expiration" readonly>
												</div>
											</div>
										</div>
										{{keyboard.default({
											size: 'keyboard__sm',
											keyboardSide: [
												{
													content: '<i class="icon icon-text icon-backspace"></i>'
												},
												{
													content: '<i class="icon icon-text icon-undo"></i>'
												},
												{
													content: 'Done',
													classList: 'keyboard__submit',
													colspan: '2'
												}
											],
											keyboardMain: [
												{
													content: '1'
												},
												{
													content: '2'
												},
												{
													content: '3'
												},
												{
													content: '4'
												},
												{
													content: '5'
												},
												{
													content: '6'
												},
												{
													content: '7'
												},
												{
													content: '8'
												},
												{
													content: '9'
												},
												{
													content: '0'
												},
												{
													content: '00'
												},
												{
													content: '<i class="icon icon-text icon-clear"></i>'
												}
											]
										})}}
									</div>
								</div>
							</div>
							{{mixins.fieldBox({
								radios: true,
								label: 'Tips and Signature',
								colSize: 'md',
								list: [
									{
										content: 'On Screen',
										name: 'tips-and-signature'
									},
									{
										content: 'On Receipt',
										attrs: 'checked',
										name: 'tips-and-signature'
									}
								]
							})}}
						</div>
					</div>
					<div class="step-body__footer section">
						<div class="form form_sm">
							<button class="btn btn_primary btn_lg btn_block" data-animation="ripple" data-modal-open="payment-terminal">Continue</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
	{{modal.paymentTerminal()}}
{% endblock %}