---
title: 'Debit Card &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner">
			{% include 'partials/components/_payments-sidebar.html' %}
			<div class="container container_right container_payments">
				{{header.simple({
					headerClassList: 'container__header header_payments',
					back: true,
					title: 'Debit Card Payment',
					titleClassList: 'header__title_vertical',
					help: true
				})}}
				<div class="container__body step-body">
					<div class="step-body__section">
						<div class="form form_sm">
							<div class="form__section">
								{{mixins.infoPrice({
									label: 'Total Due:',
									price: '102.00',
									currency: '$',
									classList: 'text-center'
								})}}
							</div>
							{{mixins.fieldBox({
								radios: true,
								label: 'Tips and Signature',
								colSize: 'md',
								list: [
									{
										content: 'On Screen',
										name: 'tips-and-signature',
										attrs: 'checked'
									},
									{
										content: 'On Terminal',
										name: 'tips-and-signature'
									}
								]
							})}}
						</div>
					</div>
					<div class="step-body__footer section">
						<div class="form form_sm">
							<button class="btn btn_primary btn_lg btn_block" data-animation="ripple" data-modal-open="payment-terminal" value="Done">Continue</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
	{{modal.paymentTerminal()}}
{% endblock %}