---
title: 'Cash Method &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner">
			{% include 'partials/components/_payments-sidebar.html' %}
			<div class="container container_right container_payments">
				{{header.simple({
					headerClassList: 'container__header header_payments',
					back: true,
					title: 'Cash Payment',
					titleClassList: 'header__title_vertical',
					help: true
				})}}
				<div class="container__body">
					<div class="section">
						<div class="form form_sm" id="payment-cash">
							<div class="form__section">
								{{mixins.infoPrice({
									label: 'Amount Due:',
									price: '102.00',
									currency: '$',
									classList: 'text-center'
								})}}
							</div>
							{{keyboard.display({
								field: {
									label: 'Amount Tendered:',
									id: 'amount-tendered',
									value: '200.00',
									placeholder: '0',
									attrs: 'required readonly',
									inputClassList: 'text-right input_xl'
								},
								dividerNone: true,
								keyboard: {
									size: 'keyboard__lg',
									discount: [
										{
											content: 'Exact'
										},
										{
											content: '105'
										},
										{
											content: '110'
										},
										{
											content: '150'
										}
									],
									keyboardSide: [
										{
											content: '<i class="icon icon-text icon-backspace"></i>'
										},
										{
											content: 'OK',
											classList: 'keyboard__submit',
											colspan: '3'
										}
									],
									keyboardMain: [
										{
											content: '1'
										},
										{
											content: '2'
										},
										{
											content: '3'
										},
										{
											content: '4'
										},
										{
											content: '5'
										},
										{
											content: '6'
										},
										{
											content: '7'
										},
										{
											content: '8'
										},
										{
											content: '9'
										},
										{
											content: '0'
										},
										{
											content: '00'
										},
										{
											content: '<i class="icon icon-text icon-clear"></i>'
										}
									]
								}
							})}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
	{{modal.paymentTerminal()}}
{% endblock %}