---
title: 'Other Payment Methods &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main" data-toggle-class-container="main-container">
		<div class="inner">
			{{header.call({
				sidebarClassList: 'is-hidden',
				fullinfoClassList: 'is-hidden',
				menuBtnClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchClassList: 'is-hidden',
				syncBtnClassList: 'is-hidden',
				searchBtnClassList: 'is-hidden',
				syncClassList: 'is-hidden',
				scanBtnClassList: 'is-hidden',
				containerClassList: 'main-header__container_full',
				title: 'Payment Methods'
			})}}
			{% include 'partials/components/_payments-sidebar.html' %}
			<div class="container container_right container_payments">
				<div class="container__body">
					{% set payments = [
						{
							title: 'Cash',
							icon: 'payment-cash',
							attrs: 'style="background-color: #66bb6a; color: #fff;"',
							color: '#66bb6a'
						},
						{
							title: 'Credit Card',
							icon: 'payment-card',
							attrs: 'style="background-color: khaki;"',
							color: 'khaki'
						},
						{
							title: 'Debit Card',
							icon: 'payment-card',
							attrs: 'style="background-color: khaki;"'
						},
						{
							title: 'EBT Card',
							iconText: 'EBT',
							attrs: 'style="background-color: khaki;"',
							color: 'khaki'
						},
						{
							title: 'External Payment',
							icon: 'payment-terminal'
						},
						{
							title: 'Split Payment',
							icon: 'payment-split',
							attrs: 'style="background-color: lightblue;"',
							color: 'lightblue'
						}
					] %}
					<div class="payment-methods">
						<div class="sm-grid sm-grid_space-md">
							<div class="sm-grid__body">
								<div class="sm-grid__row">
									{% for props in payments %}
										<div class="sm-grid__col sm-grid__col_sm">
											{{card.payment(props)}}
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
{% endblock %}