---
title: 'eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main" data-toggle-class-container="main-container">
		<div class="inner">
			{{header.call({
				backBtnClassList: 'is-hidden',
				titleClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchBtnClassList: 'is-hidden',
				fullinfoBackBtnAttrs: 'data-fullinfo-close="fullinfo" data-toggle-class-target="sidebar-header" data-toggle-class-remove="is-disabled" id="cart-item-details-back"'
			})}}
			<div class="cart cart_poynt">
				<div class="cart__inner">
					<div class="cart-total">
						<i class="icon icon-pos"></i>
						<div class="cart-total__quantity">4</div>
						<div class="cart-total__content">
							<div class="cart-total__content-in">
								<div class="cart-total__title">Total</div>
								<div class="cart-total__price">$ 400000000.00</div>
							</div>
						</div>
					</div>
					<button class="cart-toggle" data-animation="ripple" onclick="(function() { 
						document.querySelector('.sidebar').classList.toggle('is-open'); 
						event.currentTarget.classList.toggle('is-active'); 
					}());">
						<span class="cart-toggle__title">Cart</span>
						<i class="icon icon-caret"></i>
					</button>
				</div>
			</div>
			<aside class="sidebar sidebar_left sidebar_adaptive-poynt sidebar_disabled" data-toggle-class-container="sidebar-header" data-dropdown-parent="sidebar">
				<div class="sidebar__body" data-order-scroll="order">
					<div class="sidebar__content">
						{% set orderList = [
							{
								title: 'T-Shirt with Print 23',
								meta: 'Long Sleeves, XL size, Black color',
								quantity: '2',
								price: '$20.00',
								total: '$40.00',
								discount: '($5.00)',
								state: 'default'
							},
							{
								title: 'Honey',
								meta: 'Long Sleeves, XL size, Black color <div class="order-item__notes"><a href="#">Note: </a>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, animi?</div>',
								quantity: '1',
								price: '$8.00',
								total: '$8.00',
								state: 'default'
							}
						] %}
						<ul class="order-list" data-order-visible="order" data-order-list="order">
							{% for item in orderList %}
								<li class="order-item" 
									data-order-added="item" 
									data-animation="ripple" 
									data-swipe="is-open"
									data-swipe-threshold="50">
									<div class="order-item__container">
										<button class="order-item__close" 
											data-fullinfo-close="fullinfo" 
											data-toggle-class-target="sidebar-header" 
											data-toggle-class-remove="is-disabled"
											data-order-delete-item="delete">
											<i class="icon icon-close"></i>
										</button>
										<div class="order-item__content"
											data-fullinfo-open="fullinfo"
											data-toggle-class-target="sidebar-header"
											data-toggle-class-add="is-disabled">
											<div class="order-item__row">
												<div class="order-item__info">
													<div class="order-item__title">{{item.title | safe}}</div>
												</div>
												<div class="order-item__meta">{{item.meta | safe}}</div>
											</div>
											<div class="order-item__row">
												<div class="order-item__col text-left">
													<div class="order-item__quantity">{{item.quantity | safe}}&times;</div>
												</div>
												<div class="order-item__col text-right">
													<div class="order-item__total">{{item.total | safe}}</div>
												</div>
												<div class="order-item__col text-left">
													<div class="order-item__price">{{item.price | safe}}</div>
												</div>
												<div class="order-item__col text-right">
													{% if item.discount %}
														<div class="order-item__discount">{{item.discount | safe}}</div>
													{% else %}
														<div class="order-item__tag"></div>
													{% endif %}
												</div>
											</div>
										</div>
									</div>
								</li>
							{% endfor %}
							{% for item in [
								{
									label: 'Packing Fee',
									value: '2.40'
								},
								{
									label: 'Take Out Fee',
									value: '2.50'
								},
								{
									label: 'Delivery Fee',
									value: '5.00'
								}
							] %}
								<li class="order-item order-item_sub" 
									data-order-added="item" 
									data-swipe="is-open"
									data-swipe-threshold="50">
									<div class="order-item__container">
										<button class="order-item__close" 
											data-fullinfo-close="fullinfo" 
											data-toggle-class-target="sidebar-header" 
											data-toggle-class-remove="is-disabled"
											data-order-delete-item="delete">
											<i class="icon icon-close"></i>
										</button>
										<div class="order-item__content">
											<div class="order-item__row">
												<div class="order-item__info">
													<div class="order-item__title"><em>{{item.label | safe}}</em></div>
												</div>
											</div>
											<div class="order-item__row">
												<div class="order-item__col order-item__col_wide text-right">
													<div class="order-item__total">{{item.value | safe}}</div>
												</div>
											</div>
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
						<div class="order-empty is-hidden" data-order-empty="order">
							<div class="order-empty__center">
								<h5>Order is empty</h5>
								<p>Add items from catalog</p>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar__footer">
					<div class="totals sidebar__totals" data-order-visible="order">
						{% set totalsListMain = [
							{
								label: 'Subtotal',
								value: '48.00'
							},
							{
								label: 'Discount',
								value: '($5.00)',
								nodollar: true
							}
						] %}
						{% set totalsListScroll = [
							{
								label: 'SVC (NY)',
								value: '2.09'
							},
							{
								label: 'SVC (NY) Discount',
								value: '($2.09)',
								nodollar: true
							},
							{
								label: 'Tax 1',
								value: '6.75'
							},
							{
								label: 'Tax 2',
								value: '2.58'
							}
						] %}
						<div class="totals__container">
							<ul class="totals-list totals-list_main">
								{% for item in totalsListMain %}
									<li class="totals-list__item">
										<div class="totals-list__label">{{item.label | safe}}</div>
										<div class="totals-list__value">{% if not item.nodollar %}${% endif %}{{item.value | safe}}</div>
									</li>
								{% endfor %}
							</ul>
							<ul class="totals-list totals-list_scroll" data-scrollbar="default">
								{% for item in totalsListScroll %}
									<li class="totals-list__item">
										<div class="totals-list__label">{{item.label | safe}}</div>
										<div class="totals-list__value">{% if not item.nodollar %}${% endif %}{{item.value | safe}}</div>
									</li>
								{% endfor %}
							</ul>
							<ul class="totals-list totals-list_scroll">
								<li class="totals-list__item totals-list__item_total">
									<div class="totals-list__label">Total</div>
									<div class="totals-list__value">$62.23</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="toolbar sidebar__toolbar">
						<div class="toolbar__container">
							<div class="toolbar__row">
								<div class="toolbar__col toolbar__col_sm">
									{{mixins.button({
										tagName: 'a',
										classList: 'btn btn_green btn_lg btn_block toolbar__button',
										attrs: 'data-animation="ripple" href="payments.html"',
										content: 'All Payments'
									})}}
								</div>
								<div class="toolbar__col toolbar__col_lg">
									{{mixins.button({
										tagName: 'a',
										classList: 'btn btn_green btn_lg btn_block toolbar__button',
										attrs: 'data-animation="ripple" href="payment-cash.html" id="cart-cash-button"',
										content: 'Cash'
									})}}
								</div>
							</div>
						</div>
					</div>
					<!-- begin horizontal-menu -->
					<div class="horizontal-menu sidebar__menu">
						<div class="horizontal-menu__container">
							<ul class="horizontal-menu__list">
								<li class="horizontal-menu__item"> <a class="horizontal-menu__link " data-animation="ripple" href="order-save.html">Save</a> </li>
								<li class="horizontal-menu__item"> <a class="horizontal-menu__link " data-animation="ripple" href="order-note.html">Notes</a> </li>
								<li class="horizontal-menu__item"> <a class="horizontal-menu__link " data-animation="ripple" href="terminal-cash.html">Terminal</a> </li>
								<li class="horizontal-menu__item"> <a class="horizontal-menu__link is-disabled" data-animation="ripple" href="#">Drawer</a> </li>
								<li class="horizontal-menu__item"> <a class="horizontal-menu__link " data-animation="ripple" href="#">Discount</a> </li>
								<li class="horizontal-menu__item"> 
									<a class="horizontal-menu__link " data-animation="ripple" href="#" data-dropdown-open="more" data-dropdown-parent-name="sidebar" id="more-menu-btn">More <i class="icon icon-more-v"></i></a>
									<div class="dropdown-menu dropdown-menu_hidden dropdown-menu_up dropdown-menu_no-scroll horizontal-menu__dropdown-menu js-menu" data-dropdown-menu="more" id="more-menu-dropdown">
										<ul class="dropdown-menu__list">
											<li class="dropdown-menu__item">
												<a href="#" data-animation="ripple" class="dropdown-menu__arrow dropdown-menu__arrow_right" onclick="showSubmenu(event)" data-submenu-target="service-fees">
													<span>Service Fees</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</li>
											<li class="dropdown-menu__item">
												<a href="#" data-animation="ripple" class="dropdown-menu__arrow dropdown-menu__arrow_right" onclick="showSubmenu(event)" data-submenu-target="change-tax">
													<span>Change tax</span>
													<i class="fa fa-angle-right"></i>
												</a>
											</li>
											<li class="dropdown-menu__item"> <a href="#" data-animation="ripple" onclick="toggleText(event)" data-values="first">Add Tax</a> </li>
											<li class="dropdown-menu__item"> <a href="#" data-animation="ripple" onclick="toggleText(event)" data-values="second">Include Tax</a> </li>
											<li class="dropdown-menu__item"> <a href="#" data-animation="ripple" onclick="toggleText(event)" data-values="third">Include Convenience Fee</a> </li>
											<li class="dropdown-menu__item"> <a href="#" data-animation="ripple">Reprint</a> </li>
											<li class="dropdown-menu__item"> <a href="#" data-animation="ripple">Refund</a> </li>
										</ul>
										<div class="dropdown-menu__submenu dropdown-menu__submenu_overlay" data-submenu-container="change-tax">
											<a href="#" data-animation="ripple" class="dropdown-menu__submenu-title" onclick="showSubmenu(event)">
												<span>Change tax</span>
												<i class="icon icon-back"></i>
											</a>
											<ul class="dropdown-menu__submenu-list" data-scrollbar="default">
												<li class="dropdown-menu__submenu-item"> <a href="#" class="dropdown-menu__submenu-link is-active"><i class="fa fa-check"></i>California tax</a> </li>
												<li class="dropdown-menu__submenu-item"> <a href="#" class="dropdown-menu__submenu-link "><i class="fa fa-check"></i>Oregon tax</a> </li>
												<li class="dropdown-menu__submenu-item"> <a href="#" class="dropdown-menu__submenu-link "><i class="fa fa-check"></i>Nevada tax</a> </li>
												<li class="dropdown-menu__submenu-item"> <a href="#" class="dropdown-menu__submenu-link "><i class="fa fa-check"></i>Standard Tax 11 LONG NAME1LONG NAME2LONG NAME3LONG NAME4LONG NAME5LONG NAME6LONG NAME7</a> </li>
												<li class="dropdown-menu__submenu-item"> <a href="#" class="dropdown-menu__submenu-link "><i class="fa fa-check"></i>TaxWithLongNameButWithoutSpaces</a> </li>
												<li class="dropdown-menu__submenu-item"> <a href="#" class="dropdown-menu__submenu-link "><i class="fa fa-check"></i>Oregon tax</a> </li>
												<li class="dropdown-menu__submenu-item"> <a href="#" class="dropdown-menu__submenu-link "><i class="fa fa-check"></i>Nevada tax</a> </li>
											</ul>
										</div>
										<div class="dropdown-menu__submenu dropdown-menu__submenu_overlay" data-submenu-container="service-fees">
											<a href="#" data-animation="ripple" class="dropdown-menu__submenu-title" onclick="showSubmenu(event)">
												<span>Service Fees</span>
												<i class="icon icon-back"></i>
											</a>
											<ul class="dropdown-menu__submenu-list js-checkall-container" data-scrollbar="default">
												<li class="dropdown-menu__submenu-item"> 
													{{mixins.checkbox({ content: 'All', attrs: 'onchange="checkall(event)" data-checkall="true"' })}}
												</li>
												<li class="dropdown-menu__submenu-item"> 
													{{mixins.checkbox({ content: 'Packing Fee', attrs: 'onchange="check(event)"' })}}
												</li>
												<li class="dropdown-menu__submenu-item"> 
													{{mixins.checkbox({ content: 'Take Out Fee', attrs: 'onchange="check(event)"' })}}
												</li>
												<li class="dropdown-menu__submenu-item"> 
													{{mixins.checkbox({ content: 'Delivery Fee', attrs: 'onchange="check(event)"' })}}
												</li>
											</ul>
										</div>
										<script>
											function showSubmenu(e) {
												e.preventDefault();

												var target = $(e.currentTarget).data('submenu-target');
												$('.js-menu').toggleClass('is-active');

												if (!target.length) return;
												$('[data-submenu-container]')
													.removeClass('is-active')
													.filter('[data-submenu-container="' + target + '"]')
													.addClass('is-active');
											}
											function toggleText(e) {
												e.preventDefault();
												var $target = $(e.currentTarget);
												var text = $target.text();
												var values = {
													first: ['Add Tax', 'Remove Tax'],
													second: ['Include Tax', 'Exclude Tax'],
													third: ['Include Convenience Fee', 'Exclude Convenience Fee']
												};
												var textValues = values[$target.data('values')];
												textValues.forEach(function(value) {
													if (value != text) $target.text(value);
												});
											}
											function checkall(e) {
												var $target = $(e.target);
												var $container = $target.closest('.js-checkall-container');
												var $checkboxes = $container.find('[type="checkbox"]');
												var checked = $target.prop('checked');
												$checkboxes
													.not($target)
													.prop('checked', checked);
											}
											function check(e) {
												var $target = $(e.target);
												var $container = $target.closest('.js-checkall-container');
												var $checkboxes = $container.find('[type="checkbox"]').not('[data-checkall]');
												var checkedAll = true;
												$checkboxes.each(function() {
													if (!$(this).prop('checked')) checkedAll = false;
												});
												$('[data-checkall]').prop('checked', checkedAll);
											}
										</script>
									</div>
									<!-- begin overlay -->
									<button type="button" class="overlay" data-color="dark-gray" data-overlay="overlay" data-dropdown-overlay="more"></button>
									<!-- end overlay -->
								</li>
							</ul>
						</div>
					</div>
					<!-- end horizontal-menu -->
				</div>
			</aside>
			<div class="container container_right container_poynt-pos">
				<div class="items container__body">
					<div class="items__top">
						<div class="categories" data-slider-wrapper="default">
							<div class="categories__slider slider" data-slider="default">
								{% set categories = [
									{
										title: 'DEF',
										description: 'Default Category'
									},
									{
										title: 'CUR',
										description: 'Currently Selected Category',
										classList: 'is-active'
									},
									{
										title: 'KH',
										description: 'Colored Category',
										background: 'khaki'
									},
									{
										title: '4',
										description: 'Category #4'
									},
									{
										title: '5',
										description: 'Category #5'
									}
								] %}
								{% for slide in range(0,3) %}
									<div class="categories__container">
										{% for category in categories %}
											<div class="categories__item">
												{{items.smBox(category)}}
											</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
							<div class="categories__pagination" data-slider-pagination="default"></div>
						</div>
					</div>
					<div class="items__body">
						<div class="products" data-slider-wrapper="default">
							<div class="products__slider slider" data-slider="default">
								{% set products = [
									{
										title: 'Hot Dog XL',
										price: '4.00',
										code: 'HDXL',
										attrs: 'data-order-item="order"'
									},
									{
										title: 'Colored Item',
										price: '4,853.00',
										background: 'khaki',
										attrs: 'data-order-item="order"'
									},
									{
										title: 'Jack Daniels',
										price: '37.99',
										image: 'jack-daniels.jpg',
										attrs: 'data-order-item="order"'
									},
									{
										title: 'Tennessee Honey Whiskey',
										price: '25.95',
										image: 'whiskey.jpg',
										attrs: 'data-order-item="order"'
									},
									{
										title: 'Sushi',
										price: '33.00',
										image: 'sushi280x250.jpeg',
										attrs: 'data-order-item="order"'
									},
									{
										title: 'Roll',
										price: '21.00',
										image: 'roll.jpg',
										attrs: 'data-order-item="order"'
									},
									{
										title: 'Shrimps',
										price: '12.00',
										image: 'shrimps.jpg',
										attrs: 'data-order-item="order"'
									}
								] %}
								{% for slide in range(0,3) %}
									<div class="products__container">
										{% for product in products %}
											<div class="products__item">
												{{items.item(product)}}
											</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
							<div class="products__pagination" data-slider-pagination="default"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="container container_overlay container_poynt-pos" data-fullinfo-container="fullinfo">
				<div class="container__body">
					{{tabs.call({
						classList: 'tabs_lg container__content',
						name: 'item-info',
						list: [
							{
								name: 'quantity',
								text: 'Quantity',
								content: 'partials/full-info/_quantity.html'
							},
							{
								name: 'price',
								text: 'Price',
								content: 'partials/full-info/_price.html'
							},
							{
								name: 'discount',
								text: 'Discount',
								content: 'partials/full-info/_discount.html'
							},
							{
								name: 'modifiers',
								text: 'Modifiers',
								content: 'partials/full-info/_modifiers-new.html'
							},
							{
								name: 'matrix',
								text: 'Matrix',
								content: 'partials/full-info/_matrix.html'
							},
							{
								name: 'serials',
								text: 'Serials',
								content: 'partials/full-info/_serials.html'
							},
							{
								name: 'notes',
								text: 'Notes',
								content: 'partials/full-info/_notes.html'
							}
						]
					})}}
					<div class="container__submit">
						<div class="form form_sm">
							<button class="btn btn_lg btn_blue btn_block text-uppercase" data-animation="ripple" value="Done">Done</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
{% endblock %}

{% block navigation %}
	{{menu.call({ active: 0 })}}
{% endblock %}