---
title: 'Open Register &bull; eHopper POS'
styles: 
	- 'pos'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner">
			{{header.double({
				classList: 'header_container-upper header_poynt-sm',
				sidebar: {
					back: true,
					backText: 'Back'
				},
				container: {
					help: true,
					title: 'Open Register',
					titleClassList: 'header__title_vertical'
				}
			})}}
			<aside class="sidebar sidebar_left sidebar_white">
				<div class="infoblock infoblock_collapsed">
					<div class="infoblock__row">
						<div class="infoblock__col infoblock__col_md">
							<div class="infoblock__box">
								<small class="infoblock__label">Opened:</small>
								<em class="infoblock__value">12/21/2016 14:19:28</em>
							</div>
							<div class="infoblock__box">
								<small class="infoblock__label">By Employee:</small>
								<em class="infoblock__value">Mr. John Snow</em>
							</div>
						</div>
						<div class="infoblock__col infoblock__col_md">
							<div class="infoblock__box">
								<small class="infoblock__label">Closed:</small>
								<em class="infoblock__value">12/21/2016 14:19:28</em>
							</div>
							<div class="infoblock__box">
								<small class="infoblock__label">By Employee:</small>
								<em class="infoblock__value">Mr. John Snow</em>
							</div>
						</div>
					</div>
					<button class="btn-open infoblock__open" onclick="(function() { 
						[].forEach.call(document.querySelectorAll('.sidebar__poynt-hidden'), function(element) {
							element.classList.toggle('is-open'); 
						});
						event.currentTarget.classList.toggle('is-active'); 
					}());">
						<i class="icon icon-caret"></i>
					</button>
				</div>
				<hr />
				<div class="sidebar__body sidebar__poynt-hidden">
					{% set infoTable = [
						{
							label: 'Opening Amount',
							value: '<small class="infotable__disabled">$0.00</small>'
						},
						{
							label: 'Cash Sale',
							value: '$12,344.00'
						},
						{
							label: 'Refunds',
							value: '$44.20'
						},
						{
							label: 'Payins',
							value: '$10,000.00'
						},
						{
							label: 'Payouts',
							value: '$20,000.00'
						},
						{
							label: 'Closing Amount',
							value: '$8,200.00'
						},
						{
							label: '<strong>VARIANCE</strong>',
							value: '<strong class="infotable__big">$44.20</strong>'
						}
					] %}
					<ul class="infotable">
						{% for item in infoTable %}
						    <li class="infotable__row">
						    	<div class="infotable__label">{{item.label | safe}}</div>
						    	<div class="infotable__value">{{item.value | safe}}</div>
						    </li>
						{% endfor %}
					</ul>
				</div>
				<div class="sidebar__footer sidebar__poynt-hidden">
					<div class="section wrapper-btn-center">
						<button class="btn btn_secondary btn_lg btn_block" data-animation="ripple">Print Z-Report</button>
					</div>
				</div>
			</aside>
			<div class="container container_right container_upper container_poynt-register">
				<div class="container__body step-body">
					<div class="step-body__section">
						<div class="form form_sm">
							{{keyboard.display({
								sharp: true,
								field: {
									label: 'Opening Amount:',
									id: 'item-quantity',
									value: '200.00',
									placeholder: '0',
									attrs: 'required readonly',
									inputClassList: 'text-right input_xl'
								},
								keyboard: {
									size: 'keyboard__lg',
									keyboardSide: [
										{
											content: '<i class="icon icon-text icon-backspace"></i>'
										},
										{
											content: '<i class="icon icon-text icon-undo"></i>'
										},
										{
											content: 'Done',
											classList: 'keyboard__submit',
											colspan: '2'
										}
									],
									keyboardMain: [
										{
											content: '1'
										},
										{
											content: '2'
										},
										{
											content: '3'
										},
										{
											content: '4'
										},
										{
											content: '5'
										},
										{
											content: '6'
										},
										{
											content: '7'
										},
										{
											content: '8'
										},
										{
											content: '9'
										},
										{
											content: '0'
										},
										{
											content: '00'
										},
										{
											content: '<i class="icon icon-text icon-clear"></i>'
										}
									]
								}
							})}}
							<div class="fieldset fieldset_lg fieldset_bordered fieldset_standalone">
								<textarea class="textarea textarea_block textarea_little" placeholder="Register Opening Note"></textarea>
							</div>
						</div>
					</div>
					<div class="step-body__footer section">
						<div class="wrapper-btn-center">
							<button class="btn btn_primary btn_lg btn_block text-uppercase" data-animation="ripple">Open Register</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
{% endblock %}