---
title: 'Terminal Setup &bull; eHopper POS'
styles: 
	- 'pos'
settingsActive: 2
bodyLg: 'lg'
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="main">
		<div class="inner settings">
			{{header.call({
				sidebarClassList: 'is-hidden',
				fullinfoClassList: 'is-hidden',
				menuBtnClassList: 'is-hidden',
				helpBtnClassList: 'is-hidden',
				searchClassList: 'is-hidden',
				syncBtnClassList: 'is-hidden',
				searchBtnClassList: 'is-hidden',
				scanBtnClassList: 'is-hidden',
				syncClassList: 'is-hidden',
				containerClassList: 'main-header__container_full',
				title: 'Terminal Setup'
			})}}
			
			{% include 'partials/components/_settings-sidebar.html' %}
			<div class="settings__container">
				<div class="settings__body">
					<div class="explanation settings__explanation is-error">
						<i class="icon icon-cc explanation__icon"></i>
						<div class="explanation__text">
							<p>To process credit and debit cards, you need to configure one or multiple terminals.</p>
							<p>To make so, you'll need to enter its Serial Number</p>
						</div>
						<div class="explanation__error error-message text-center">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>
					</div>
					<div class="settings__content">
						<div class="table-wrapper" data-table="terminal">
							{% set table = {
								header: [
									{ column: 'icon', content: '&nbsp;' },
									{ column: 'name', content: 'Name' },
									{ column: 'serial-number', content: 'Serial Number' },
									{ column: 'ip-address', content: 'IP Address' },
									{ column: 'information', content: 'Information' },
									{ column: 'icon', content: '&nbsp;' }
								],
								body: [
									[
										{ column: 'icon', mixin: 'checkbox', options: { attrs: 'checked' } },
										{ column: 'name', content: 'Waiter-1' },
										{ column: 'serial-number', content: '00123456' },
										{ column: 'ip-address', content: '192.168.0.142:10009' },
										{ column: 'information', content: '<ul class="table-information">
											<li><span class="muted">MID:</span> 498238664888</li>
											<li><span class="muted">TID:</span> 8118592</li>
										</ul>' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									],
									[
										{ column: 'icon', mixin: 'checkbox' },
										{ column: 'name', content: 'Old Terminal' },
										{ column: 'serial-number', content: '00123499' },
										{ column: 'ip-address', content: '<span class="muted">00123499</span>' },
										{ column: 'information', content: '&nbsp;' },
										{ column: 'icon', content: '<button class="btn btn_icon"><i class="icon icon-close"></i></button>' }
									]
								]
							} %}
							<div class="table-wrapper__header" data-table-fake="terminal">
								<div class="table-header">
									<ul class="table-header__tr">
										{% for th in table.header %}
											<li class="table-header__th" data-column="{{th.column}}">{{th.content | safe}}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							<div class="table-wrapper__body" data-scrollbar="default" data-table-scrollable="terminal">
								<div class="table-body table-wrapper__table" data-table-main="terminal">
									{% for tr in table.body %}
										<div class="table-body__tr">
											{% for td in tr %}
												<div class="table-body__td" data-column="{{td.column}}">
													{% if td.mixin %}
														{{mixins[td.mixin](td.options)}}
													{% else %}
														{{td.content | safe}}
													{% endif %}
												</div>
											{% endfor %}
										</div>
									{% endfor %}
								</div>
							</div>
							<div class="table-wrapper__footer">
								<div class="table-footer">
									<button class="btn btn_success" data-modal-open="add-terminal" data-animation="ripple"><i class="icon icon-plus"></i>Add Terminal</button>
								</div>
							</div>
						</div>
					</div>
					<div class="settings__footer">
						<div class="wrapper-btn-center">
							<button class="btn btn_primary btn_lg btn_block text-uppercase" data-animation="ripple" value="Done">Done</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	{{modal.help()}}
	{{modal.addTerminal()}}
{% endblock %}