---
title: 'UI Gide'
oldStyles: [
	'font-awesome.min',
	'durandal',
	'toastr.min',
	'jquery-ui.min',
	'app',
	'ui-update'
]
styles: [
	'ui-gide'
]
---
{% extends "layouts/_layout.html" %}

{% import 'data/_ui-guide.html' as gide %}

{% block content %}
	{% set labels = {
		code: 'html code:',
		component: 'component view:',
		description: 'description:'
	} %}
	<main class="main">
		<div class="inner ui-wrapper" data-tab="ui-gide">
			{% set uiMenu = [
				{ id: 'styles', title: 'styles', active: 'is-active' },
				{ id: 'typography', title: 'typography' },
				{ id: 'buttons', title: 'buttons' },
				{ id: 'switch/checkbox/radio', title: 'switch/checkbox/radio' },
				{ id: 'fields', title: 'fields' },
				{ id: 'cards', title: 'cards' },
				{ id: 'loader', title: 'loader' },
				{ id: 'scrollbar', title: 'scrollbar' },
				{ id: 'pages', title: 'pages' }
			] %}
			<div class="ui-menu">
				<ul class="ui-menu__list">
					{% for item in uiMenu %}
						<li class="ui-menu__item {{item.active}}" data-tab-open="{{item.id}}" data-tab-collection="ui-gide" title="{{item.title}}">{{item.title}}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="ui-content is-open" data-tab-container="styles" data-tab-collection="ui-gide">
				<!-- begin STYLES -->
				<div class="ui-container">
					<div class="ui-title">Styles:</div>
					<ul class="ui-list">
						{% for item in oldStyles %}
							<li>
								<a href="static/old-css/{{item}}.css" target="_blank">{{item}}.css</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<!-- end STYLES -->
			</div>
			<div class="ui-content" data-tab-container="typography" data-tab-collection="ui-gide">
				<!-- begin FONTS -->
				<div class="ui-container">
					<div class="ui-title">Fonts:</div>
					<ul class="ui-list">
						{% for item in gide.fonts %}
							<li>{{item | safe}}</li>
						{% endfor %}
					</ul>
				</div>
				<!-- end FONTS -->
				<!-- begin TYPOGRAPHY -->
				<div class="ui-container">
					<div class="ui-title">Typography:</div>
					{# <div class="ui-section">
						<div class="ui-subtitle">Titles:</div>
						{% for item in gide.headers %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div> #}
					<div class="ui-section">
						<div class="ui-subtitle">Text modificators: color & align</div>
						{% for item in gide.modificators %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<!-- end TYPOGRAPHY -->
			</div>
			<div class="ui-content" data-tab-container="buttons" data-tab-collection="ui-gide">
				<!-- begin BUTTONS -->
				<div class="ui-container">
					<div class="ui-title">Buttons:</div>
					<div class="ui-section">
						<div class="ui-subtitle">Sizes:</div>
						{% for item in gide.buttons.sizes %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="ui-section">
						<div class="ui-subtitle">Colors:</div>
						{% for item in gide.buttons.colors %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="ui-section">
						<div class="ui-subtitle">With icon:</div>
						{% for item in gide.buttons.icons %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<!-- end BUTTONS -->
			</div>
			<div class="ui-content" data-tab-container="switch/checkbox/radio" data-tab-collection="ui-gide">
				<!-- begin SWITCHERS/CHECKBOXES/RADIOS -->
				<div class="ui-container">
					<div class="ui-title">Switcher (+)/Checkbox (+)/Radio:</div>
					<div class="ui-section">
						<div class="ui-subtitle">Switcher:</div>
						{% for item in gide.switchers %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="ui-section">
						<div class="ui-subtitle">Checkbox:</div>
						{% for item in gide.checkboxes %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="ui-section">
						<div class="ui-subtitle">Radio:</div>
						{% for item in gide.radios %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<!-- end SWITCHERS/CHECKBOXES/RADIOS -->
			</div>
			<div class="ui-content" data-tab-container="fields" data-tab-collection="ui-gide">
				<!-- begin FIELDS -->
				<div class="ui-container">
					<div class="ui-title">Fields:</div>
					<div class="ui-section">
						<div class="ui-subtitle">Textarea:</div>
						{% for item in gide.textareas %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="ui-section">
						<div class="ui-subtitle">Input:</div>
						{% for item in gide.inputs %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="ui-section">
						<div class="ui-subtitle">Packs (examples of combining elements):</div>
						{% for item in gide.fields %}
							<div class="ui-col ui-col_md">
								{% if item.description %}
									<div class="ui-description">
										<div class="ui-label">{{labels.description}}</div>
										{{item.description}}
									</div>
								{% endif %}
								<div class="ui-code">
									<div class="ui-label">{{labels.code}}</div>
									{{item.code}}
								</div>
								<div class="ui-component">
									<div class="ui-label">{{labels.component}}</div>
									{{item.code | safe}}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<!-- end FIELDS -->
			</div>
			<div class="ui-content" data-tab-container="cards" data-tab-collection="ui-gide">
				<!-- begin CARDS -->
				<div class="ui-container">
					<div class="ui-title">CARDS:</div>
					{% for item in gide.cards %}
						<div class="ui-col ui-col_md">
							{% if item.description %}
								<div class="ui-description">
									<div class="ui-label">{{labels.description}}</div>
									{{item.description}}
								</div>
							{% endif %}
							<div class="ui-code">
								<div class="ui-label">{{labels.code}}</div>
								{{item.code}}
							</div>
							<div class="ui-component">
								<div class="ui-label">{{labels.component}}</div>
								{{item.code | safe}}
							</div>
						</div>
					{% endfor %}
				</div>
				<!-- end CARDS -->
				<!-- begin PAYMENTS -->
				<div class="ui-container">
					<div class="ui-title">PAYMENTS:</div>
					{% for item in gide.payments %}
						<div class="ui-col ui-col_md">
							{% if item.description %}
								<div class="ui-description">
									<div class="ui-label">{{labels.description}}</div>
									{{item.description}}
								</div>
							{% endif %}
							<div class="ui-code">
								<div class="ui-label">{{labels.code}}</div>
								{{item.code}}
							</div>
							<div class="ui-component">
								<div class="ui-label">{{labels.component}}</div>
								{{item.code | safe}}
							</div>
						</div>
					{% endfor %}
				</div>
				<!-- end PAYMENTS -->
			</div>
			<div class="ui-content" data-tab-container="loader" data-tab-collection="ui-gide">
				<!-- begin LOADER -->
				<div class="ui-container">
					<div class="ui-title">LOADER:</div>
					{% for item in gide.loader %}
						<div class="ui-col ui-col_md">
							{% if item.description %}
								<div class="ui-description">
									<div class="ui-label">{{labels.description}}</div>
									{{item.description}}
								</div>
							{% endif %}
							<div class="ui-code">
								<div class="ui-label">{{labels.code}}</div>
								{{item.code}}
							</div>
							<div class="ui-component">
								<div class="ui-label">{{labels.component}}</div>
								{{item.code | safe}}
							</div>
						</div>
					{% endfor %}
				</div>
				<!-- end LOADER -->
			</div>
			<div class="ui-content" data-tab-container="scrollbar" data-tab-collection="ui-gide">
				<!-- begin SCROLLBAR -->
				<div class="ui-container">
					<div class="ui-title">SCROLLBARS:</div>
					<div class="ui-col ui-col_md">
						<div class="ui-description">
							<div class="ui-label">{{labels.description}}</div>
							Use [data-scrollbar="default"] for the default scrollbar view:
						</div>
						<div class="ui-component">
							<div class="ui-label">{{labels.component}}</div>
							<div data-scrollbar="default" style="height: 200px;">
								<div style="height: 400px"></div>
							</div>
						</div>
					</div>
					<div class="ui-col ui-col_md">
						<div class="ui-description">
							<div class="ui-label">{{labels.description}}</div>
							Use [data-scrollbar="rounded"] for the rouded scrollbar view (used on the terms & conditions):
						</div>
						<div class="ui-component">
							<div class="ui-label">{{labels.component}}</div>
							<div data-scrollbar="rounded" style="height: 200px;">
								<div style="height: 400px"></div>
							</div>
						</div>
					</div>
				</div>
				<!-- end SCROLLBAR -->
			</div>
			<div class="ui-content" data-tab-container="pages" data-tab-collection="ui-gide">
				<!-- begin SCROLLBAR -->
				<div class="ui-container ui-pages js-pages">
					<div class="ui-title ui-pages__title">Pages:</div>
					{% set pages = [
						'orders',
						'order',
						'printer-setup',
						'cash-drawer',
						'settings',
						'deactivate'
					] %}
					<div class="ui-pages__select">
						<div class="select-box ">
							<select class="js-pages-select">
								{% for item in pages %}
									<option value="{{item}}.html">{{item}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="ui-pages__iframe">
						<iframe src="{{pages[0]}}.html" frameborder="0" class="js-pages-iframe"></iframe>
					</div>
					<script>
						(function() {

							const pages = document.querySelectorAll('.js-pages');

							Array
								.from(pages)
								.forEach(container => {

									const select = container.querySelector('.js-pages-select');
									const iframe = container.querySelector('.js-pages-iframe');

									select.addEventListener('change', function() {
										iframe.setAttribute('src', this.value);
									});

								});

						})();
					</script>
				</div>
				<!-- end SCROLLBAR -->
			</div>
		</div>
	</main>
{% endblock %}