.orders
	&__container
		position: relative
		padding-top: 50px
		height: 100%
	.orders__header
		position: absolute
		top: 0
		left: 0
		right: 0
	&__body
		position: relative
		padding: 60px 0 80px
		height: 100%
	&__toolbar
		position: absolute
		top: 0
		left: 0
		right: 0
		background: $white
		+clr
		&-left
			float: left 
			border-right: 1px solid rgba($black, 0.1)
		&-right
			float: right
		&-right,
		&-left
			width: 50%
			max-width: 500px
	&__content
		height: 100%
	&__footer
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 20px
		background: $alabaster
		text-align: center
	&__action
		font-size: 0
		text-align: right

.orders-buttons
	font-size: 0
	white-space: nowrap
	&__item
		display: inline-block
		vertical-align: top
		border-left: 1px solid rgba($black, 0.1)
		width: 33.33%
	.btn
		width: 100%