.order
	.order__header
		position: absolute
		top: 0
		left: 0
		right: 0
	&__sidebar,
	&__container
		position: relative
		padding-top: 50px
		height: 100%
	&__sidebar
		float: left
		width: 300px
	&__container
		margin-left: 300px
		box-shadow: 3px 0 4px 5px rgba(0, 0, 0, 0.2)
	&__info
		overflow: auto
		height: 100%
	&__content,
	&__body
		height: 100%
	&__body
		padding-bottom: 210px
	&__footer
		height: 210px
		box-shadow: inset 0 6px 4px -5px rgba(0, 0, 0, 0.2)
	&__buttons
		padding: 20px
		font-size: 0
		text-align: center
		.btn
			padding-left: 20px
			padding-right: 20px
			margin: 0 4px

.order-totals
	height: 110px
	+clr
	&__table
		float: right
		padding-right: 7%
		width: 41%
	&__tr
		font-size: 0
		text-align: right
		&:not(:first-child)
			border-top: 1px solid $lightGray
	&__td
		display: inline-block
		vertical-align: middle
		padding: 11px 10px
		width: 50%
		font-size: 14px
		line-height: 1
	&__label
		opacity: 0.5
	&__value
		em
			+rbold

.order-notes
	position: relative
	float: left
	padding: 20px 
	width: 59%
	height: 100%
	&__icon
		position: absolute
		top: 10px
		left: 10px
	&__content
		overflow: auto
		padding-left: 30px
		margin: 2px 0
		height: 64px