.orders
	&__container
		position: relative
		padding-top: 50px
		height: 100%
	.orders__header
		position: absolute
		top: 0
		left: 0
		right: 0
	&__body
		position: relative
		padding: 80px 0
		height: 100%
		+poynt
			padding-top: 162px
	&__toolbar
		position: absolute
		top: 0
		left: 0
		right: 0
		background: $white
		+clr
		&-left
			float: left 
			border-right: 1px solid rgba($black, 0.1)
			+poynt
				border-right: none
		&-right
			float: right
			+poynt
				border-top: 1px solid rgba($black, 0.1)
		&-right,
		&-left
			width: 50%
			max-width: 500px
			+poynt
				width: 100%
				max-width: 100%
		.toolbar
			&__container,
			&__row,
			&__col
				+poynt 
					display: block
			&__row
				+poynt
					+clr 
			&__col
				+poynt
					float: left
					border-top: 1px solid rgba($black, 0.1)
					width: 33.33%
				&:nth-child(3)
					+poynt
						border-right: none
	&__content
		height: 100%
	&__footer
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 20px
		background: $alabaster
		text-align: center
	&__action
		font-size: 0
		text-align: right

.orders-buttons
	font-size: 0
	white-space: nowrap
	&__item
		display: inline-block
		vertical-align: top
		border-left: 1px solid rgba($black, 0.1)
		width: 33.33%
		+poynt
			border-left: none
			border-right: 1px solid rgba($black, 0.1)
		&:last-child
			+poynt
				border-right: none
	.btn
		width: 100%