{% import '../_mixins.html' as mixins %}
{% import '../components/_keyboard.html' as keyboard %}
<div class="tabs__keyboard">
	<div class="fieldset fieldset_bordered">
		<div class="main-display">
			<button class="main-display__clear" data-numpad="numpad-clear"><i class="icon icon-clear"></i></button>
			{{mixins.field({
				label: 'Custom Price:',
				units: '$',
				id: 'item-custom-price',
				value: '49.95',
				static: true,
				classList: 'field_static'
			})}}
		</div>
		{{keyboard.call()}}
	</div>
</div>
