{% import '../_mixins.html' as mixins %}
{% import '../components/_keyboard.html' as keyboard %}
<div class="tabs__keyboard">
	<div class="fieldset fieldset_bordered">
		<div class="main-display">
			<button class="main-display__clear" data-numpad="numpad-clear"><i class="icon icon-clear"></i></button>
			{{mixins.field({
				label: 'Quantity:',
				units: 'kg',
				id: 'item-quantity',
				value: '0',
				placeholder: '0',
				attrs: 'required readonly',
				inputClassList: 'text-right input_xl'
			})}}
		</div>
		{{keyboard.call()}}
	</div>
</div>