{% import '../components/_keyboard.html' as keyboard %}
<div class="tabs__keyboard">
	{{keyboard.display({
		field: {
			label: 'Quantity:',
			units: 'kg',
			id: 'item-quantity',
			value: '0',
			placeholder: '0',
			attrs: 'required readonly',
			inputClassList: 'text-right input_xl'
		},
		keyboard: {
			size: 'keyboard__lg',
			keyboardSide: [
				{
					attrs: 'data-numpad="numpad-backspace"',
					content: '<i class="icon icon-text icon-backspace"></i>'
				},
				{
					content: 'Done',
					attrs: 'value="numpad-submit"',
					classList: 'keyboard__submit',
					colspan: '3'
				}
			],
			keyboardMain: [
				{
					content: '1'
				},
				{
					content: '2'
				},
				{
					content: '3'
				},
				{
					content: '4'
				},
				{
					content: '5'
				},
				{
					content: '6'
				},
				{
					content: '7'
				},
				{
					content: '8'
				},
				{
					content: '9'
				},
				{
					content: '0'
				},
				{
					content: '00'
				},
				{
					attrs: 'data-numpad="numpad-clear"',
					content: '<i class="icon icon-text icon-clear"></i>'
				}
			]
		}
	})}}
</div>