{% import 'partials/_mixins.html' as mixins %}
{% import 'partials/components/_keyboard.html' as keyboard %}
<div class="tabs__keyboard">
	<div class="fieldset fieldset_bordered">
		<div class="main-display">
			<button class="main-display__clear" data-numpad="numpad-clear"><i class="icon icon-clear"></i></button>
			{{mixins.field({
				switch: {
					left: '$',
					right: '%',
					id: 'discount-switcher'
				},
				staticInput: true,
				classList: 'field_static field_currency',
				unitsLeft: '$',
				unitsRight: '%',
				id: 'item-discount',
				value: '999,999,999.99'
			})}}
		</div>
		{{keyboard.call({
			shortcuts: [ { content: '5%' }, { content: '10%' }, { content: '15%' } ]
		})}}
	</div>
</div>