<!-- begin FONTS -->
{% set fonts = [
	"font-family: 'Roboto Light', Arial, sans-serif",
	"font-family: 'Roboto Light Italic', Arial, sans-serif",

	"font-family: 'Roboto Regular', Arial, sans-serif",
	"font-family: 'Roboto Italic', Arial, sans-serif",

	"font-family: 'Roboto Medium', Arial, sans-serif",
	"font-family: 'Roboto Medium Italic', Arial, sans-serif",

	"font-family: 'Roboto Bold', Arial, sans-serif",
	"font-family: 'Roboto Bold Italic', Arial, sans-serif",

	"font-family: 'OpenSans Regular', 'Roboto Regular', Arial, sans-serif",
	"font-family: 'OpenSans Italic', 'Roboto Italic', Arial, sans-serif",

	"font-family: 'OpenSans Bold', 'Roboto Bold', Arial, sans-serif",
	"font-family: 'OpenSans Bold Italic', 'Roboto Bold Italic', Arial, sans-serif"
] %}
<!-- end FONTS -->
<!-- begin TYPOGRAPHY -->
{% set headers = [
	{ 
		code: '<h1 class="title-xlg">Title h1</h1>'
	},
	{ 
		code: '<h2 class="title-lg">Title h2</h2>'
	},
	{ 
		code: '<h3 class="title-md">Title h3</h3>'
	},
	{ 
		code: '<h4 class="title-sm">Title h4</h4>'
	},
	{ 
		code: '<h5 class="title-xs">Title h5</h5>'
	}
] %}

{% set modificators = [
	{ 
		code: '<div class="color-red">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, non.</p>
		</div>',
		description: 'Message in such style show when connection to Device Center or Terminal connection is absent.'
	},
	{ 
		code: '<div class="color-gray">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, non.</p>
		</div>'
	},
	{ 
		code: '<div class="text-uppercase">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, non.</p>
		</div>'
	},
	{ 
		code: '<div class="text-left">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, non.</p>
		</div>'
	},
	{ 
		code: '<div class="text-center">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, non.</p>
		</div>'
	},
	{ 
		code: '<div class="text-right">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, non.</p>
		</div>'
	}
] %}
<!-- end TYPOGRAPHY -->

<!-- begin BUTTONS -->
{% set buttons = {
	sizes: [
		{
			code: '<button class="btn" data-animation="ripple">Button</button>'
		},
		{
			description: 'actually default size',
			code: '<button class="btn btn_lg" data-animation="ripple">Button</button>'
		},
		{
			description: 'Used in conjunction with the keyboard to confirm actions or to occupy the entire allotted width',
			code: '<button class="btn btn_block" data-animation="ripple">Button</button>'
		}
	],
	colors: [
		{
			description: 'initialize or add something (example terminal setup)',
			code: '<button class="btn btn_green" data-animation="ripple">Button</button>'
		},
		{
			description: 'confirmation of negative action (cancel / refund)',
			code: '<button class="btn btn_red" data-animation="ripple">Button</button>'
		},
		{
			description: 'confirmation of positive action',
			code: '<button class="btn btn_blue" data-animation="ripple">Button</button>'
		}
	],
	icons: [
		{
			code: '<button class="btn" data-animation="ripple"><i class="icon icon-expand"></i>Show more</button>'
		}
	]
} %}
<!-- end BUTTONS -->

<!-- begin SWITCHERS -->
{% set switchers = [
	{
		description: 'inactive state',
		code: '<label class="switcher">
			<input type="checkbox">
			<i class="switcher__icon"></i>
		</label>'
	},
	{
		description: 'active states (to enable options in entity number 1)',
		code: '<label class="switcher">
			<input type="checkbox" checked>
			<i class="switcher__icon"></i>
		</label>'
	},
	{
		description: 'active states (to enable similar options but in another entity on the current screen, different from entity # 1)',
		code: '<label class="switcher switcher_green">
			<input type="checkbox" checked>
			<i class="switcher__icon"></i>
		</label>'
	}
] %}
<!-- end SWITCHERS -->

<!-- begin CHECKBOXES -->
{% set checkboxes = [
	{
		description: 'inactive state',
		code: '<label class="checkbox">
			<input type="checkbox" checked>
			<i class="icon icon-check"></i>
			<span>Lorem ipsum.</span>
		</label>'
	},
	{
		description: 'standard view of the active state',
		code: '<label class="checkbox checkbox_green">
			<input type="checkbox" checked>
			<i class="icon icon-check"></i>
			<span>Lorem ipsum.</span>
		</label>'
	},
	{
		description: 'view of active state wherever we confirm terms & conditions',
		code: '<label class="checkbox">
			<input type="checkbox" disabled>
			<i class="icon icon-check"></i>
			<span>Lorem ipsum.</span>
		</label>'
	}
] %}
<!-- end CHECKBOXES -->

<!-- begin RADIOS -->
{% set radios = [
	{
		description: 'inactive state',
		code: '<label class="fake-radio">
			<input type="radio" name="ui-gide-radio-group">
			<span class="fake-radio__content">Lorem ipsum.</span>
		</label>'
	},
	{
		description: 'active state',
		code: '<label class="fake-radio">
			<input type="radio" name="ui-gide-radio-group" checked>
			<span class="fake-radio__content">Lorem ipsum.</span>
		</label>'
	},
	{
		description: 'use for occupy the entire allotted width',
		code: '<label class="fake-radio fake-radio_block">
			<input type="radio" name="ui-gide-radio-group">
			<span class="fake-radio__content">Lorem ipsum.</span>
		</label>'
	},
	{
		description: 'actually default size',
		code: '<label class="fake-radio fake-radio_lg">
			<input type="radio" name="ui-gide-radio-group">
			<span class="fake-radio__content">Lorem ipsum.</span>
		</label>'
	},
	{
		description: 'disabled state (locked)',
		code: '<label class="fake-radio">
			<input type="radio" name="ui-gide-radio-group" disabled>
			<span class="fake-radio__content">Lorem ipsum.</span>
		</label>'
	}
] %}
<!-- end RADIOS -->

<!-- begin FIELDS -->
{% set textareas = [
	{
		description: 'Used for notes and for the introduction of a large amount of text',
		code: '<div class="form-box">
			<div class="form-box__field">
				<textarea class="textarea textarea_block" placeholder="placeholder"></textarea>
			</div>
		</div>'
	},
	{
		description: 'Used to enter a small amount of text',
		code: '<div class="form-box">
			<textarea class="textarea textarea_block textarea_little" placeholder="placeholder"></textarea>
		</div>'
	}
] %}
{% set inputs = [
	{
		description: 'field with the possibility of quick cleaning',
		code: '<div class="input-box">
			<input type="text" 
				class="simple-input input-box__input" 
				placeholder="placeholder">
			<button class="input-box__clear">
				<i class="icon icon-close"></i>
			</button>
			<div class="error-message input-box__error-message">Error message</div>
		</div>'
	},
	{
		description: 'field with the error state and visible error message',
		code: '<div class="input-box is-error">
			<input type="text" 
				class="simple-input input-box__input" 
				placeholder="placeholder">
			<button class="input-box__clear">
				<i class="icon icon-close"></i>
			</button>
			<div class="error-message input-box__error-message">Error message</div>
		</div>'
	},
	{
		description: 'field without the possibility of quick cleaning',
		code: '<input type="text" class="simple-input" placeholder="placeholder">'
	},
	{
		description: 'choice of one of the options',
		code: '<div class="select-box">
			<select>
				<option value="option 1">option 1</option>
				<option value="option 2">option 2</option>
				<option value="option 3">option 3</option>
			</select>
		</div>'
	}
] %}
{% set fields = [
	{
		code: '<div class="field-box field-box_switch">
			<label class="field-box__label" for="ui-switcher-field">Label</label>
			<div class="field-box__switcher">
				<label class="switcher">
					<input type="checkbox" id="ui-switcher-field">
					<i class="switcher__icon"></i>
				</label>
			</div>
		</div>'
	},
	{
		code: '<div class="field-box field-box_btns">
			<div class="field-box__label">Label</div>
			<ul class="field-box__list">
				<li class="field-box__col field-box__col_sm field-box__btn">
					<button class="btn btn_default btn_block btn_lg" data-animation="ripple">Button</button>
				</li>
				<li class="field-box__col field-box__col_sm field-box__btn">
					<button class="btn btn_default btn_block btn_lg" data-animation="ripple">Button</button>
				</li>
				<li class="field-box__col field-box__col_sm field-box__btn">
					<button class="btn btn_default btn_block btn_lg" data-animation="ripple">Button</button>
				</li>
			</ul>
		</div>'
	},
	{
		code: '<div class="field-box field-box_btns">
			<ul class="field-box__list">
				<li class="field-box__col field-box__col_md field-box__btn">
					<button class="btn btn_default btn_block btn_lg" data-animation="ripple">Button</button>
				</li>
				<li class="field-box__col field-box__col_md field-box__btn">
					<button class="btn btn_default btn_block btn_lg" data-animation="ripple">Button</button>
				</li>
			</ul>
		</div>'
	},
	{
		code: '<div class="field-box field-box_checkbox">
			<div class="field-box__label">Label</div>
			<ul class="field-box__list">
				<li class="field-box__col field-box__col_sm field-box__checkbox">
					<label class="checkbox">
						<input type="checkbox">
						<i class="icon icon-check"></i>
						<span>Lorem ipsum.</span>
					</label>
				</li>
				<li class="field-box__col field-box__col_sm field-box__checkbox">
					<label class="checkbox">
						<input type="checkbox">
						<i class="icon icon-check"></i>
						<span>Lorem ipsum.</span>
					</label>
				</li>
				<li class="field-box__col field-box__col_sm field-box__checkbox">
					<label class="checkbox">
						<input type="checkbox">
						<i class="icon icon-check"></i>
						<span>Lorem ipsum.</span>
					</label>
				</li>
			</ul>
		</div>'
	},
	{
		code: '<div class="field-box">
			<div class="field-box__counter">
				<div class="field-box__label">Label</div>
				<div class="field-box__controls">
					<div class="field-box__controls-in">
						<div class="field-box__control field-box__control_left">
							<button class="btn btn_xl btn_secondary" data-animation="ripple">&#8211;</button>
						</div>
						<div class="field-box__control field-box__control_right">
							<button class="btn btn_xl btn_secondary" data-animation="ripple">+</button>
						</div>
						<input type="text" class="input input_xl text-center field-box__counter-input" value="0" readonly>
					</div>
				</div>
			</div>
		</div>'
	},
	{
		code: '<div class="field-box">
			<div class="field-box__select-set">
				<div class="field-box__select-col">
					<!-- begin dropdown -->
					<div class="dropdown" data-dropdown="split-payment-1">
						<div class="dropdown__header" data-dropdown-open="split-payment-1" data-animation="ripple">
							<i class="dropdown__arrow icon icon-expand"></i>
							<div class="dropdown__value" data-dropdown-value="split-payment-1">Cash</div>
						</div>
						<div class="dropdown-menu dropdown-menu_no-scroll" data-dropdown-menu="split-payment-1">
							<ul class="dropdown-menu__list" data-scrollbar="default">
								<li class="dropdown-menu__item is-active"
									data-animation="ripple" 
									data-dropdown-item="split-payment-1" 
									data-value="Cash">
									Cash
								</li>
								<li class="dropdown-menu__item"
									data-animation="ripple" 
									data-dropdown-item="split-payment-1" 
									data-value="Credit Card">
									Credit Card
								</li>
								<li class="dropdown-menu__item"
									data-animation="ripple" 
									data-dropdown-item="split-payment-1" 
									data-value="Debit Card">
									Debit Card
								</li>
								<li class="dropdown-menu__item"
									data-animation="ripple" 
									data-dropdown-item="split-payment-1" 
									data-value="External Payment">
									External Payment
								</li>
							</ul>
						</div>
						<button type="button" 
							class="overlay" 
							data-color="dark-gray" 
							data-overlay="overlay" 
							data-dropdown-overlay="split-payment-1"></button>
					</div>
					<!-- end dropdown -->
				</div>
				<div class="field-box__select-col">
					<input type="text" class="input input_lg input_block field-box__select-input" value="100.00">
				</div>
				<div class="field-box__button">
					<button class="btn btn_lg btn_block" data-animation="ripple">Charge</button>
				</div>
			</div>
		</div>'
	},
	{
		code: '<div class="field-box">
			<div class="field-box__select-set">
				<div class="field-box__select-col">
					<div class="field-box__select-static">
						<i class="icon icon-checked"></i>
						<span class="muted">External Payment</span>
					</div>
				</div>
				<div class="field-box__select-col">
					<input type="text" class="input input_lg input_block field-box__select-input muted" value="100.00" readonly>
				</div>
				<div class="field-box__button">
					<button class="btn btn_lg btn_block btn_red" data-animation="ripple">Void</button>
				</div>
			</div>
		</div>'
	},
	{
		code: '<div class="form-box">
			<div class="field form-box__field">
				<div class="field__inner">
					<label class="field__label" for="ui-field-input-alone">Label</label>
					<div class="field__box">
						<input class="input field__input input_lg" 
							id="ui-field-input-alone"
							type="text"
							placeholder="placeholder">
					</div>
				</div>
			</div>
		</div>'
	},
	{
		code: '<div class="form-box">
			<div class="field field_static form-box__field">
				<div class="field__inner">
					<div class="field__switch">
						<label class="field__switch-left" for="ui-field-currency-percent">$</label>
						<label class="field__switch-box switcher">
							<input type="checkbox" id="ui-field-currency-percent" checked>
							<i class="switcher__icon"></i>
						</label>
						<label class="field__switch-right" for="ui-field-currency-percent">%</label>
					</div>
					<div class="field__box">
						<div class="field__units" data-units="currency"><span>$</span></div>
						<span class="field__static">0.00</span>
						<div class="field__units" data-units="percent"><span>%</span></div>
					</div>
				</div>
			</div>
		</div>'
	},
	{
		code: '<div class="form-box">
			<div class="field field_static field_currency form-box__field">
				<div class="field__inner">
					<div class="field__switch">
						<label class="field__switch-left" for="ui-field-currency-percent">$</label>
						<label class="field__switch-box switcher">
							<input type="checkbox" id="ui-field-currency-percent">
							<i class="switcher__icon"></i>
						</label>
						<label class="field__switch-right" for="ui-field-currency-percent">%</label>
					</div>
					<div class="field__box">
						<div class="field__units" data-units="currency"><span>$</span></div>
						<span class="field__static">0.00</span>
						<div class="field__units" data-units="percent"><span>%</span></div>
					</div>
				</div>
			</div>
		</div>'
	},
	{
		code: '<div class="form-box">
			<div class="field field_static form-box__field">
				<div class="field__inner">
					<div class="field__label">Label</div>
					<div class="field__box">
						<span class="field__static">0.00</span>
						<div class="field__units"><span>%</span></div>
					</div>
				</div>
			</div>
		</div>'
	},
	{
		code: '<div class="form-box">
			<div class="field field_static form-box__field">
				<div class="field__inner">
					<div class="field__label">Label</div>
					<div class="field__box">
						<div class="field__units"><span>$</span></div>
						<span class="field__static">0.00</span>
					</div>
				</div>
			</div>
		</div>'
	}
] %}
<!-- end FIELDS -->

<!-- begin LOADER -->
{% set loader = [
	{
		code: '<div class="loading"></div>'
	}
] %}
<!-- end LOADER -->

<!-- begin CARDS -->
{% set cards = [
	{
		description: 'used for modifers',
		code: '<div class="sm-card">
			<label class="sm-card__label">
				<input type="checkbox">
				<span class="sm-card__content" data-animation="ripple">
					<i class="sm-card__icon icon icon-checked"></i>
					<span class="sm-card__title">Lorem ipsum.</span>
					<span class="sm-card__sticker">0.00</span>
				</span>
			</label>
		</div>'
	},
	{
		description: 'used for matrix variants',
		code: '<div class="simple-card">
			<label class="simple-card__label">
				<input type="checkbox">
				<span class="simple-card__content" data-animation="ripple">
					<span class="simple-card__title">Lorem ipsum.</span>
					<span class="simple-card__description">Lorem ipsum dolor.</span>
				</span>
			</label>
		</div>'
	},
	{
		description: 'used for serial numbers',
		code: '<div class="card-serial">
			<label class="card-serial__label">
				<input type="checkbox">
				<span class="card-serial__content" data-animation="ripple">
					<span class="card-serial__title">Lorem ipsum.</span>
				</span>
			</label>
		</div>'
	}
] %}
<!-- end CARDS -->
<!-- begin PAYMENTS -->
{% set payments = [
	{
		code: '<div class="payment-card" data-animation="ripple">
			<div class="payment-card__title">
				<span>Cash</span>
			</div>
			<div class="payment-card__icon">
				<i class="fa fa-money"></i>
			</div>
		</div>'
	},
	{
		code: '<div class="payment-card" data-animation="ripple">
			<div class="payment-card__title">
				<span>Credit Card</span>
			</div>
			<div class="payment-card__icon">
				<i class="icon icon-payment-card"></i>
			</div>
		</div>'
	},
	{
		code: '<div class="payment-card" data-animation="ripple">
			<div class="payment-card__title">
				<span>Debit Card</span>
			</div>
			<div class="payment-card__icon">
				<i class="icon icon-payment-card"></i>
			</div>
		</div>'
	},
	{
		code: '<div class="payment-card" data-animation="ripple">
			<div class="payment-card__title">
				<span>EBT Card</span>
			</div>
			<div class="payment-card__icon">
				<span class="payment-card__icon-text">EBT</span>
			</div>
		</div>'
	},
	{
		code: '<div class="payment-card" data-animation="ripple">
			<div class="payment-card__title">
				<span>External Payment</span>
			</div>
			<div class="payment-card__icon">
				<i class="icon icon-payment-terminal"></i>
			</div>
		</div>'
	},
	{
		code: '<div class="payment-card" data-animation="ripple">
			<div class="payment-card__title">
				<span>Split Payment</span>
			</div>
			<div class="payment-card__icon">
				<i class="icon icon-payment-split"></i>
			</div>
		</div>'
	}
] %}
<!-- end PAYMENTS -->

<!-- begin ICONS -->
{% set icons = {
	custom: {
		title: 'Custom Font',
		items: [
			{
				code: '<i class="icon icon-back"></i>'
			},
			{
				code: '<i class="icon icon-next"></i>'
			},
			{
				code: '<i class="icon icon-nav-before"></i>'
			},
			{
				code: '<i class="icon icon-nav-next"></i>'
			},
			{
				code: '<i class="icon icon-search"></i>'
			},
			{
				code: '<i class="icon icon-expand"></i>'
			},
			{
				code: '<i class="icon icon-undo"></i>'
			},
			{
				code: '<i class="icon icon-check"></i>'
			},
			{
				code: '<i class="icon icon-checked"></i>'
			},
			{
				code: '<i class="icon icon-time"></i>'
			},
			{
				code: '<i class="icon icon-note"></i>'
			},
			{
				code: '<i class="icon icon-sync"></i>'
			},
			{
				code: '<i class="icon icon-print"></i>'
			},
			{
				code: '<i class="icon icon-cash"></i>'
			},
			{
				code: '<i class="icon icon-cc"></i>'
			},
			{
				code: '<i class="icon icon-exit"></i>'
			},
			{
				description: 'NEW*',
				code: '<i class="icon icon-seal"></i>'
			},
			{
				code: '<i class="icon icon-pos"></i>'
			},
			{
				code: '<i class="icon icon-plus"></i>'
			},
			{
				code: '<i class="icon icon-close"></i>'
			},
			{
				code: '<i class="icon icon-help"></i>'
			},
			{
				code: '<i class="icon icon-clear"></i>'
			},
			{
				code: '<i class="icon icon-backspace"></i>'
			},
			{
				code: '<i class="icon icon-caret"></i>'
			},
			{
				code: '<i class="icon icon-more-v"></i>'
			},
			{
				code: '<i class="icon icon-delete"></i>'
			}
		]
	},
	fa: {
		title: 'FontAwesome',
		link: 'http://fontawesome.io/icons/',
		items: [
			{
				code: '<i class="fa fa-check fa-lg"></i>'
			},
			{
				code: '<i class="fa fa-check-circle fa-lg"></i>'
			},
			{
				code: '<i class="fa fa-arrow-circle-o-left fa-lg"></i>'
			},
			{
				code: '<i class="fa fa-arrow-left fa-lg"></i>'
			},
			{
				code: '<i class="fa fa-ban fa-lg"></i>'
			},
			{
				code: '<i class="fa fa-check-circle-o fa-lg"></i>'
			},
			{
				code: '<i class="fa fa-close"></i>'
			}
		]
	}
} %}
<!-- end ICONS -->