.form-box
	border: 2px solid $lightGray
	&__field + &__field
		margin-top: 1px
	&__field
		position: relative
		min-height: 54px
		background: $white
	&__label
		display: block
		padding: 21px 80px 21px 20px
		font-size: 14px
		line-height: 1
		+nosel
		cursor: pointer
	&__switcher
		position: absolute
		top: 13px
		right: 20px