.infoblock
	&__row
		padding: 20px 0
		+clr
	&__col
		position: relative
		float: left
		padding: 5px 20px
		width: 100%
		&_md
			width: 50%
	&__box
		position: relative
		padding: 5px 0
	&__label,
	&__value
		display: block
		font-style: normal
	&__label
		font-size: 12px
		color: $silverGray
	&__value
		font-size: 16px
	&__icon
		position: absolute
		top: 5px
		right: 20px
		~ .infoblock__label,
		~ .infoblock__value,
			padding-right: 50px
	&__dropdown
		margin: 0 -20px