.info-price
	&__label
		display: block
		color: $silverGray
		font-size: 12px
	&__value
		+rreg
		line-height: 1
		small,
		span
			display: inline-block
			vertical-align: bottom
		small
			padding: 1px 0
			font-size: 19px
		span
			font-size: 29px