.main-display
	position: relative
	padding: 1px 41px 1px 0
	+rreg
	&__clear
		position: absolute
		top: 1px
		right: 1px
		bottom: 1px
		width: 60px
		background: $white
		+active
			.icon
				opacity: 0.7
		.icon
			opacity: 0.5
			font-size: 30px
			transition: opacity 0.1s ease-in-out
	.field_static
		.field
			&__static
				+hsm
					height: 60px
					line-height: 60px
	.field
		&__input
			+hsm
				height: 60px
	&__denomination
		position: absolute
		top: 50%
		left: 100%
		margin: -0.5em 0 0 10px
		border-radius: 50%
		width: 1em
		height: 1em
		background: rgba($black, 0.1)
		font-size: 50px
		transition: background 0.175s ease, box-shadow 0.175s ease
		+hover
			background: rgba($black, 0.15)
		+active
			box-shadow: inset 2px 2px 6px rgba($black, 0.2)
		svg 
			position: absolute
			top: 50%
			left: 50%
			margin: -0.5em 0 0 -0.5em
			width: 1em
			height: 1em
			fill: $darkGray
			font-size: 70%