.order-list
	+clr
.order-item
	position: relative
	overflow: hidden
	border-bottom: 1px solid rgba(0, 0, 0, 0.1)
	cursor: pointer
	+nosel
	+clr
	transition: background 0.175s ease
	+active
		background: $azureActive
	&.is-open
		.order-item
			&__container
				transform: translate3d(-60px,0,0)
	&[data-state="active"]
		background: $azure
		+active
			background: $azureActive
		+refund
			background: lighten(#ec4a41, 35%)

	&[data-animation="ripple"]
		.ripple-circle
			background: rgba($black, 0.05)
	&__container
		position: relative
		+gpu
		transition: transform 0.185s ease-in-out
		+touch
			padding-right: 30px
			margin-right: -60px
	&__content
		padding: 13px 50px 13px 20px
		+clr
	&__info,
	&__row
		float: left
	&__info
		width: 50%
	&__row
		width: 50%
		+clr
	&__col
		float: left
		padding: 0 0 0 20px
		width: 50%
		text-align: right
		&:first-child
			text-align: left
	&__title,
	&__quantity,
	&__total
		+rreg
	&__title,
	&__col
		font-size: 16px
		+lg
			font-size: 14px
		// +md
		// 	font-size: 13px
	&__meta
		clear: both
		padding-top: 5px
	&__meta,
	&__price
		opacity: 0.5
	&__meta,
	&__price,
	&__discount
		font-size: 14px
		// font-size: 13px
		// +md
		// 	font-size: 12px
	&__discount
		color: $red
	&__close
		position: absolute
		top: 1px
		right: 0
		color: $red
		background: none
		+lg
			top: 0
		+touch
			top: 0
			bottom: 0
			width: 60px
			color: $white
			background: $red
		.icon-close
			display: inline-block
			vertical-align: middle
			font-size: 18px