.radio
	position: relative
	display: inline-block
	vertical-align: top
	min-width: 30px
	min-height: 30px
	font-size: 0
	+nosel
	cursor: pointer
	+active
		input
			&:checked + i
				background: $white
		i
			background: $lightGray
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		&:checked + i
			&:before
				transform: scale(1)
		&:disabled + i,
		&:disabled ~ span
			opacity: 0.5
			pointer-events: none
		&:disabled + i
			background: none !important
	i
		position: absolute
		top: 0
		left: 0
		border: 2px solid $lightGray
		border-radius: 50%
		width: 30px
		height: 30px
		transition: background 0.2s ease-in-out
		&:before
			content: ''
			position: absolute
			top: 3px
			left: 3px
			right: 3px
			bottom: 3px
			border-radius: 50%
			background: $blue
			transform: scale(0)
			transition: transform 0.2s ease-in-out
	span
		display: block
		padding: 8px 0 8px 40px
		font-size: 14px
		line-height: 1

.fake-radio
	position: relative
	display: inline-block
	vertical-align: top
	font-size: 0
	cursor: pointer
	.is-active 
      color: $white
      background: $blue
	&_block
		width: 100%
	+active 
		.fake-radio__content
			color: $darkGray
			background: $lightGrayActive
			box-shadow: inset 2px 2px 6px rgba($black, 0.2)
		input:checked + .fake-radio__content
			color: $white 
			background: $blue
			box-shadow: none
	input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		visibility: hidden
		&:checked + .fake-radio__content 
			color: $white
			background: $blue
	&__content
		display: block

		padding: 0 10px
		border: none
		min-width: 40px
		height: 40px

		color: $darkGray
		background: $lightGray

		+rlight
		font-size: 16px
		line-height: 40px
		text-align: center
		text-decoration: none

		white-space: nowrap

		transition: color 0.175s ease, background 0.175s ease, box-shadow 0.175s ease

		cursor: pointer
		user-select: none
	//mods
	&_md
		.fake-radio__content
			height: 50px
			font-size: 18px
			line-height: 50px
	&_lg
		.fake-radio__content
			padding: 0 15px
			min-width: 60px
			height: 60px
			font-size: 19px
			line-height: 60px