.simple-field
	padding: 10px 0
	&__label
		display: block
		padding-bottom: 8px
		color: $darkGray
		font-size: 16px
	&__title
		+rmed
		font-size: 28px
	&__error
		margin: 0 -20px
	&__title,
	&__error
		text-align: center
	&__error
		color: $red
		font-size: 14px
		line-height: 1.2