.totals
	border-top: 1px solid rgba($black, 0.1)
	// background: $alabaster
	background: #f2f2f2
	&__container
		// float: right
		padding-top: 5px

.totals-list
	// display: table
	// table-layout: fixed
	// width: 100%
	// max-width: 100%
	// min-width: 100%
	// padding: 5px 0
	// font-size: 16px
	font-size: 14px
	// line-height: 20px
	line-height: 16px
	// &_main
	// 	position: relative
	// 	box-shadow: 0 2px 5px 0px rgba(0,0,0,0.1)	
	+clr
	&_scroll
		overflow: auto
		padding-bottom: 5px
		border-top: 1px solid $lightGray
		// max-height: 103px
		max-height: 72px
	&__item
		// display: table-row
		position: relative
		// float: right
		clear: both
		// padding: 3px 20px
		// width: 50%
		color: #7d7d7d
		+clr
		&:not(:first-child)
			// padding-top: 4px
			padding-top: 1px
			&:before
				content: ''
				position: absolute
				right: 0
				top: 0
				border-top: 1px dashed $lightGray
				width: 200%
		a 
			color: $blue
	// &__row
		// display: block
		// padding: 5px 20px
		// padding: 3px 20px
		// +clr
	&__label,
	&__value
		float: left
		padding: 3px 20px
		width: 50%
		// display: table-cell
		// padding: 3px 20px
		+text-overflow
	&__label
		// width: 60%
		// text-align: left
	&__value
		// width: 40%
		text-align: right
