<ul class="docs-menu">
	<li class="docs-menu__item"><a href="./" class="docs-menu__link">Introduction</a></li>
	<li class="docs-menu__item"><a href="layout.html" class="docs-menu__link">Layout</a></li>
	<li class="docs-menu__item"><a href="typography.html" class="docs-menu__link">Typography</a></li>
	<li class="docs-menu__item"><a href="forms.html" class="docs-menu__link">Form controls</a></li>
	<li class="docs-menu__item"><a href="buttons.html" class="docs-menu__link">Buttons</a></li>
	<li class="docs-menu__item"><a href="inputs.html" class="docs-menu__link">Inputs</a></li>
	<li class="docs-menu__item"><a href="toolbars.html" class="docs-menu__link">Toolbars</a></li>
	<li class="docs-menu__item"><a href="dialogs.html" class="docs-menu__link">Dialogs</a></li>
	<li class="docs-menu__item"><a href="icons.html" class="docs-menu__link">Icons</a></li>
	<li class="docs-menu__item"><a href="tabs.html" class="docs-menu__link">Tabs</a></li>
	<li class="docs-menu__item"><a href="table.html" class="docs-menu__link">Tables &amp; Grids</a></li>
	<li class="docs-menu__item"><a href="messages.html" class="docs-menu__link">Alerts &amp; Messages</a></li>
	<li class="docs-menu__item"><a href="ui-kit.html" class="docs-menu__link">Kitchen Sink</a></li>
</ul>
