
<div class="toolbar toolbar-delimiter">
	<div class="toolbar__item w50">
		<div class="dropdown dropdown-white dropdown-disabled w100">
			<div class="dropdown__selected">
				<div class="dropdown__selected-label">Order Type:</div>
				<div class="dropdown__selected-value">Quick Sale</div>
			</div>
		</div>
	</div>
	<div class="toolbar__item w50">
		<div class="dropdown dropdown-white dropdown-disabled w100">
			<div class="dropdown__selected">
				<!-- <i class="icon icon-next dropdown__selected-icon"></i> -->
				<div class="dropdown__selected-label">Customer:</div>
				<div class="dropdown__selected-value">Walk In</div>
			</div>
		</div>
	</div>
</div>


<ul class="order__items layout__row layout__row-grow" id="demo_order_items">

	<li class="order__item order__item-disabled">
		<div class="order__item-data">
			<div class="order__item-data1">
				<div class="order__item-qty">1&times;</div>
				<div class="order__item-price">3.00</div>
			</div>
			<div class="order__item-data2">
				<div class="order__item-total">3.00</div>
				<div class="order__item-discount"></div>
			</div>
		</div>
		<div class="order__item-product">
			<div class="order__item-title">Hot Dog XL</div>
			<div class="order__item-info">Click to duplicate in cart</div>
		</div>
	</li>

	<li class="order__item order__item-disabled">
		<div class="order__item-data">
			<div class="order__item-data1">
				<div class="order__item-qty">2&times;</div>
				<div class="order__item-price">100.00</div>
			</div>
			<div class="order__item-data2">
				<div class="order__item-total">200.00</div>
				<div class="order__item-discount">-5.10</div>
			</div>
		</div>
		<div class="order__item-product">
			<div class="order__item-title">T-Shirt with Print 23</div>
			<div class="order__item-info">Long Sleeves, XL size, Black color</div>
			<div class="order__item-info"><b>Note:</b> Item specific text note</div>
		</div>
	</li>

</ul>


<div class="order__totals">
	Order totals
</div>