<div class="form__columns">
	<div class="form__column {% if terminalSurcharge %}form__column_sm{% else %}form__column_md{% endif %}">
		<button class="btn btn_lg btn_block {% if terminalSurcharge %}btn_terminal{% endif %} is-active" data-tab-open="terminal-cash" data-animation="ripple">
			<i class="icon icon-cash"></i>
			Cash
		</button>
	</div>
	<div class="form__column {% if terminalSurcharge %}form__column_sm{% else %}form__column_md{% endif %}">
		<button class="btn btn_lg btn_block {% if terminalSurcharge %}btn_terminal{% endif %}" data-tab-open="terminal-credit-card" data-animation="ripple">
			<i class="icon icon-cc"></i>
			Credit Card
		</button>
	</div>
	{% if terminalSurcharge %}
		<div class="form__column {% if terminalSurcharge %}form__column_sm{% else %}form__column_md{% endif %}">
			<button class="btn btn_lg btn_block {% if terminalSurcharge %}btn_terminal{% endif %}" data-tab-open="terminal-signature-debit" data-animation="ripple">
				<i class="icon icon-cc"></i>
				Signature Debit Card
			</button>
		</div>
	{% endif %}
</div>