<main class="main">
	{{header.call({
		sidebarClassList: 'is-hidden',
		fullinfoClassList: 'is-hidden',
		menuBtnClassList: 'is-hidden',
		helpBtnClassList: 'is-hidden',
		searchClassList: 'is-hidden',
		syncBtnClassList: 'is-hidden',
		searchBtnClassList: 'is-hidden',
		syncClassList: 'is-hidden',
		scanBtnClassList: 'is-hidden',
		containerClassList: 'main-header__container_full',
		title: 'Terminal'
	})}}
	<div class="container container_simple">
		<div class="container__body step-body">
			<div class="step-body__section tabs tabs_simple" data-tab="terminal">
				<div class="form form_sm">
					{% include './_controls.html' %}
					<!-- begin tabs container -->
					<div class="tabs__container">
						{% include './_cash.html' %}
						{% include './_credit-card.html' %}
						{% include './_signature-debit.html' %}
					</div>
					<!-- end tabs container -->
				</div>
			</div>
			<div class="step-body__footer section">
				<div class="form form_sm">
					<button class="btn btn_primary btn_lg btn_block" data-animation="ripple" value="Done">PROCESS</button>
				</div>
			</div>
		</div>
	</div>
</main>

{{modal.help()}}
{{modal.paymentTerminal()}}